<%= content_for :head do %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Marcelo Freixo | É o candidato do PSOL à Prefeitura do Rio de Janeiro.</title>
  <meta property="og:title" content="Começou! Participe da campanha do Freixo à Prefeitura!" />
  <meta property="og:image" content="<%= image_url 'volunteers/facebook-share.jpg' %>" />
  <meta property="og:description" content="Clique pra saber como participar." />
  <%= favicon_link_tag 'favicon.png' %>
<% end %>

<%= content_for :menu do %>
  <%= link_to "Tarefa do Dia", "#tarefa", class: "block p2 black btn-user-menu" %>
  <%= link_to "Agenda da campanha", "#eventos", class: "block p2 black btn-user-menu" %>
  <%= link_to "Núcleos de Mobilização", "#nucleos", class: "block p2 black btn-user-menu" %>
    <%= link_to "Freixo na TV", "#freixonatv", class: "block p2 black btn-user-menu" %>
  <%= link_to "Propostas", "#propostas", class: "block p2 black btn-user-menu" %>
  <%= link_to "Financiar", "#apoiar", class: "block p2 black btn-user-menu" %>
  <%= link_to "Compartilhe", "#compartilhe", class: "block p2 black btn-user-menu" %>
  <%= link_to "Freixo e Luciana", "#marcelofreixo", class: "block p2 black btn-user-menu" %>
  <%= link_to "Apoiadores", "#apoiadores", class: "block p2 black btn-user-menu" %>
  <%= link_to "Baixe nossos materiais", "#baixemateriais", class: "block p2 black btn-user-menu" %>
<% end %>

<div class="white py3 bg-marcelo-luciana" style="margin-top: -55px; padding-top: 100px; background-color: #ff8200; background-position: bottom center">
  <div class="max-width-4 mx-auto clearfix mxn2">
    <div class="center col-12 xs-col-12 sm-col-6 md-col-6 lg-col-4 px2 lg-right mx-auto" style="box-sizing: border-box">
      <h1 class="white regular caps mt0" style="font-size: 2.5rem">
        Um Rio de Janeiro
        <br />
        mais
        <br />
        <span class="typed-title"></span>
        <div id="typed-title-strings" class="hide">
          <p>humano</p>
          <p>democrático</p>
          <p>diverso</p>
          <p>justo</p>
          <p>barato</p>
          <p>verde</p>
          <p>acolhedor</p>
          <p>dinâmico</p>
          <p>vivo</p>
          <p>plural</p>
        </div>
        <br />
        <span class="underline"> é possível</span>.
      </h1>
      <%= link_to "Participe da campanha", "#participe", class: "bg-purple white p1 caps bold rounded block mb2" %>
      <%= link_to "Conheça as propostas", "#propostas", class: "bg-purple white p1 caps bold rounded block" %>
    </div>
  </div>
</div>

<div class="bg-purple white py3" id="participe">
  <div class="max-width-4 mx-auto clearfix">
    <div class="md-col xs-col-12 sm-col-6 md-col-6 lg-col-6 mx-auto px2">
      <div class="sm-center">
        <h2 class="mt0 h1 caps regular">Participe da campanha</h2>
        <p class="h3">
          <% if (Date.new(2016, 10, 2) - Date.today).to_i > 0 %>
            Temos <strong><%= (Date.new(2016, 10, 2) - Date.today).to_i %> dia</strong> até o fim da campanha.
          <% else %>
            
          <% end %>
        </p>
        <p>
          É hora de apresentarmos um projeto para a cidade construído coletivamente e elegermos Marcelo Freixo prefeito do Rio.
        </p>
        <p class="h3">
          <strong><%= number_with_delimiter(User.count + 22442) %></strong> pessoas já estão se mobilizando!
        </p>
        <p>
          Junte-se a nós agora para saber como você pode fazer isso acontecer:
        </p>
      </div>
    </div>
    <div class="md-col xs-col-12 sm-col-6 md-col-6 lg-col-6 mx-auto px2">
      <div class="p2 bg-darken-4">
        <% if params[:profile_created] %>
          <%= form_for @user, url: volunteer_path(@user.id), method: :put do |f| %>
            <div class="sm-center mb3">
              <p class="mt0 bold">
                Obrigado por se juntar a essa campanha!
              </p>
              <p>
                Só queremos te mandar os chamados que sejam mais interessantes pra você. <strong>Complete o seu perfil para dizer como você quer ajudar com a campanha:</strong>
              </p>
            </div>
            <div class="mb3">
              <% favorite_tasks.each do |task| %>
                <div class="mb1">
                  <%= f.check_box "favorite_tasks", {multiple: true, include_hidden: false, id: "user_favorite_tasks_#{task.parameterize.underscore}", style: "margin: 0; vertical-align: middle"}, task %>
                  <%= f.label "favorite_tasks_#{task.parameterize.underscore}", task, class: "label inline" %>
                </div>
              <% end %>
            </div>

            <%= f.label :school, class: "label" %>

            <%=
              f.select(
                :school,
                school_list,
                { prompt: t('activerecord.attributes.user.school') },
                class: "input mb3"
              )
            %>

            <%= f.submit "Enviar!", class: "button bg-aqua block white caps bold border-none h3 p2 rounded mt3", style: "width: 100%" %>
          <% end %>
        <% elsif params[:profile_completed] %>
          <div id="profile_completed" class="sm-center">
            <p>
              <b>Valeu! Seu perfil foi atualizado! \o/ </b>
            </p>
            <p>
              Você pode editá-lo a qualquer momento preenchendo novamente o cadastro nessa página principal.
            </p>
            <p>
              <b>Agora, compartilhe o nosso site de mobilização em todas as suas redes.</b>
            </p>
            <p>
              Quanto mais pessoas estiverem mobilizadas, maiores são as nossas chances de ganhar essa campanha!
            </p>
            <div class="sm-center">
              <%=
                link_to_popup(
                  "http://www.facebook.com/sharer/sharer.php?u=#{root_url}",
                  class: "button bg-facebook-blue white py1 px3 caps inline-block rounded bold h4 m1"
                ) do
              %>
                <%= icon('facebook') %> Compartilhar
              <% end %>
              <%=
                link_to_popup(
                  "https://twitter.com/intent/tweet?text=#{URI.escape('Começou! Participe da campanha do Freixo à Prefeitura! #Freixo50 #ÉPossível')}&url=#{root_url}",
                  class: "button bg-twitter-blue white py1 px3 caps inline-block rounded bold h4 m1"
                ) do
              %>
                <%= icon('twitter') %> Tweetar
              <% end %>
            </div>
          </div>
        <% else %>
          <%= form_for @user, url: volunteers_path do |f| %>
            <div class="mxn2">
              <div class="col col-12 md-col-6 px2 mb1">
                <%= f.label :first_name, class: "aqua label required" %>
                <%= f.text_field(:first_name, class: "input", style: "margin-bottom: .25rem") %>
                <div class="h6 white first_name_errors">
                  <%= @user.errors.messages[:first_name].join(', ') %>
                </div>
              </div>

              <div class="col col-12 md-col-6 px2 mb1">
                <%= f.label :last_name, class: "aqua label required" %>
                <%= f.text_field(:last_name, class: "input", style: "margin-bottom: .25rem") %>
                <div class="h6 white last_name_errors">
                  <%= @user.errors.messages[:last_name].join(', ') %>
                </div>
              </div>
            </div>

            <div class="mb1">
              <%= f.label :email, class: "aqua label required" %>
              <%= f.email_field(:email, class: "input", style: "margin-bottom: .25rem") %>
              <div class="h6 white email_errors">
                <%= @user.errors.messages[:email].join(', ') %>
              </div>
            </div>

            <div class="mb1">
              <%= f.label :cell_phone_number, class: "aqua label" %>
              <%= f.telephone_field(:cell_phone_number, class: "input", style: "margin-bottom: .25rem") %>
              <div class="h6 white cell_phone_number_errors">
                <%= @user.errors.messages[:cell_phone_number].join(', ') %>
              </div>
            </div>

            <div class="mb1">
              <%= f.label :district, class: "aqua label" %>
              <%=
                f.select(
                  :district,
                  district_list,
                  {include_blank: true},
                  class: "input rounded",
                  style: "margin-bottom: .25rem"
                )
              %>
              <div class="h6 white"><%= @user.errors.messages[:district].join(', ') %></div>
            </div>

            <div>
              <%=
                f.submit(
                  "Tô dentro!",
                  class: "button bg-aqua block caps p2 h2 white border-none rounded bold mt3",
                  style: "width: 100%"
                )
              %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="wpp-cta-signup">
        <p class="h3 center"><strong>Quer receber no seu celular missões diárias para participar da campanha?</strong></p>
        <p class="center">
          Envie <strong>"EU FECHO"</strong> por WhatsApp para o número:
          <br><br><strong>21 97160 2217</strong>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-aqua py3 px2 center h5">
  <h2 class="h1 white regular mt0 caps">Participe da campanha!</h2>
  <%= link_to "#tarefa", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_tarefa.png", width: 100 %>
    <div class="mt1 bold">Tarefa do Dia</div>
  <% end %>
  <%= link_to "#eventos", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_eventos.png", width: 100 %>
    <div class="mt1 bold">Agenda da campanha</div>
  <% end %>
  <%= link_to "#nucleos", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_local.png", width: 100 %>
    <div class="mt1 bold">Núcleos</div>
  <% end %>
  <%= link_to "#apoiar", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_money.png", width: 100 %>
    <div class="mt1 bold">Financiar</div>
  <% end %>
  <%= link_to "#propostas", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_ideia.png", width: 100 %>
    <div class="mt1 bold">Propostas</div>
  <% end %>
  <%= link_to "#marcelofreixo", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_50.png", width: 100 %>
    <div class="mt1 bold">Freixo e Luciana</div>
  <% end %>
  <%= link_to "#freixonatv", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_tv.png", width: 100 %>
    <div class="mt1 bold">Freixo na TV</div>
  <% end %>
  <%= link_to "#compartilhe", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_share.png", width: 100 %>
    <div class="mt1 bold">Compartilhe</div>
  <% end %>
  <%= link_to "#apoiadores", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_juntos.png", width: 100 %>
    <div class="mt1 bold">Apoiadores</div>
  <% end %>
  <%= link_to "#baixemateriais", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "http://i.imgur.com/9dzTWtP.png", width: 100 %>
    <div class="mt1 bold">Baixe nossos materiais</div>
  <% end %>
</div>

<% if Setting.daily_task_description.present? %>
  <div class="bg-tarefa bg-cover">
    <div id="tarefa" class="max-width-1 mx-auto px2 py4 black center">
      <%= image_tag "volunteers/icone_tarefa.png", class: "mb1", style: "width: 100px" %>
      <h2 class="caps mt0 h1 regular">O quê você pode fazer hoje?</h2>
      <div class="mb3"><%= raw Setting.daily_task_description %></div>
      <%=
        link_to(
          "Fazer tarefa",
          Setting.daily_task_link,
          class: "button bg-orange h4 white caps block p2 center bold",
          target: :blank
        )
      %>
      <div class="wpp-cta-dailytask mb3">
        <h3 class="caps m50 h3 regular">Receba missões como essa diariamente no seu celular!</h3>
        <p>Envie <strong>"EU FECHO"</strong> por WhatsApp para o número <strong>21 97160 2217</strong></p>
      </div>
    </div>
  </div>
<% end %>

<div class="bg-purple" id="eventos">
  <div class="max-width-1 mx-auto px2 py4 white center">
    <%= image_tag "volunteers/icone_eventos.png", class: "mb1", style: "width: 100px" %>
    <h2 class="caps mt0 h1 regular">Agenda da campanha:</h2>
    <div class="slick">
      <% Event.where("start_at >= ?", Time.now).order("start_at").each do |event| %>
        <%= card(class: "mx1") do %>
          <%= card_body do %>
            <span class="block bold mb1 h3 red m0"><%= event.title %></span>
            <span class="block h4 aqua bold mt0"><%= l(event.start_at, format: :short) %></span>
            <p class="black"><%= truncate(event.short_description, length: 140) %></p>
            <% if event.facebook_link.present? %>
              <%= link_to "Participar", event.facebook_link, target: :blank, class: "button bg-orange block caps bold white p1 rounded" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%= link_to "Veja o mapa dos eventos", map_groups_path, class: "button bg-orange py1 px2 caps bold white mt1 inline-block rounded" %>
  </div>
</div>

<div class="bg-comite bg-cover">
  <div class="max-width-1 mx-auto px2 py4 center black" id="nucleos">
    <%= image_tag "volunteers/icone_local.png", class: "mb1", style: "width: 100px" %>
    <h2 class="mt0 h1 caps regular">Participe da campanha perto de você!</h2>
    <span class="h2 bold block red mb1">Selecione um núcleo</span>
    <%= select_tag "group", options_for_select(Group.order('name').all.map {|g| [g.name, group_path(g)]}), class: "input", prompt: "Nome do núcleo", onChange: "window.location = event.target.value" %>
    <%= link_to "Veja o mapa dos núcleos", map_groups_path, class: "button bg-orange py1 px2 caps bold white mt1 inline-block rounded" %>
    <%= link_to "Baixe as artes da campanha pra espalhar", "https://drive.google.com/drive/folders/0B0zcLMaA7FRtOTY5YVoxRjFiY3M", class: "orange bold block mt2" %>
  </div>
</div>

<div class="bg-purple white">
  <div class="max-width-1 mx-auto center py3 py4" id="freixonatv">
    <%= image_tag "volunteers/icone_tv.png", class: "mb1", style: "width: 100px" %>
    <h2 class="h1 regular mt0 caps">Acompanhe o Freixo na TV</h2>
    <p>No Brasil, quem se recusa a fazer alianças com partidos aleatórios só para conseguir tempo de TV acaba tendo poucos segundos para apresentar suas ideias.</p>
    <p class="bold mb3">Assista os nossos vídeos e ajude a compartilhar eles nas suas redes.</p>
    <%= link_to "Assistir Freixo na TV", "http://freixonatv.com", target: :blank, class: "button bg-orange white py1 px2 rounded h3 caps bold inline-block" %>
  </div>
</div>

<div class="bg-propostas bg-cover py4">
  <div class="max-width-1 mx-auto center px2" id="propostas">
    <%= image_tag "volunteers/icone_ideia.png", class: "mb1", style: "width: 100px" %>
    <h2 class="caps h1 black mt0 regular">
      Sim, é possível! Conheça as nossas propostas para uma cidade mais
      <br />
      <span class="typed-proposals"></span>
      <div id="typed-proposals-strings" class="hide">
        <p>democrática</p>
        <p>barata</p>
        <p>justa</p>
        <p>saudável</p>
        <p>livre e diversa</p>
        <p>dinâmica</p>
      </div>
    </h2>
    <p>
      Desde 2015 reunimos mais de 5000 pessoas em mais de 70 encontros para construírmos juntos um programa de governo para o Rio. Conheça as nossas propostas:
    </p>
  </div>
  <div class="max-width-4 mx-auto center clearfix mxn2">
    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "#transporte", rel: "modal:open", class: "bg-red-light p2 white caps block"  do %>
          <h2 class="regular">Transporte e Mobilidade</h2>
      <% end %>

      <div id="transporte" style="display: none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para o transporte</h2>
          <p>- Criar uma Empresa Pública de Transportes para realizar o planejamento, gestão e fiscalização do sistema de transportes;</p>
          <p>- Auditar os contratos de concessão dos ônibus, dando mais transparência e fortalecendo a fiscalização do sistema;</p>
          <p>- Reorganizar de forma participativa as linhas de ônibus para que o sistema atenda as reais necessidades da população;</p>
          <p>- Reduzir progressivamente o preço das passagens e garantir linhas de tarifa zero nas regiões mais pobres;</p>
          <p>- Extinguir a dupla função de motorista-cobrador de ônibus;</p>
          <p>- Expandir as ciclovias e instalar bicicletários nas estações de trem, metrô e BRT;</p>
          <p>- Reformar as calçadas e praças para garantir o direito de acessibilidade às pessoas com mobilidade reduzida.</p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "#saude", rel: "modal:open", class: "bg-red p2 white caps block"  do %>
          <h2 class="regular">Saúde</h2>
      <% end %>

      <div id="saude" style="display: none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para a saúde</h2>
          <p>- Executar um plano de transição do sistema atual, que prioriza a gestão privada, para um sistema de gestão pública, evitando a desorganização do serviço e sem prejuízos ao atendimento à população;</p>
          <p>- Realizar concursos públicos para recompor o quadro de servidores, especialmente na rede básica e nos hospitais, em gradual substituição dos trabalhadores terceirizados;</p>
          <p>- Democratizar a gestão das políticas públicas de saúde, incentivando a criação de conselhos gestores em cada unidade;</p>
          <p>- Criar um plano de carreira para melhorar os salários e as condições de trabalho dos profissionais da saúde;</p>
          <p>- Ampliar o acesso aos medicamentos distribuídos pelo SUS;</p>
          <p>- Aumentar a capacidade de atendimento das UPAs municipais, garantindo ortopedistas e pediatras em todas as unidades, começando pelas zonas Norte e Oeste;</p>
          <p>- Ampliar a rede de médicos, enfermeiros e agentes comunitários para aumentar a cobertura das políticas de Saúde da Família, começando pelas zonas Norte e Oeste;</p>
          <p>- Ampliar a rede substitutiva de serviços de saúde mental (dispositivos de residenciais terapêuticos, CAPS III, CAPSi, CAPS AD, CAPS AD III, Centros de Convivência/Cultura, Cooperativas Sociais, Consultórios de Rua, Escolas de Redutores de Danos, entre outros), começando pelas zonas Norte e Oeste.</p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "#educacao", rel: "modal:open", class: "bg-red-dark p2 white caps block"  do %>
          <h2 class="regular">Educação</h2>
      <% end %>
      <div id="educacao" style="display:none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para a educação</h2>
          <p>- Democratizar as escolas ampliando a participação dos alunos, pais e profissionais de educação;</p>
          <p>- Garantir uma educação integral com programas de esporte, arte e cultura nas escolas e creches;</p>
          <p>- Criar um novo plano de carreira para melhorar os salários e as condições de trabalho dos profissionais da educação;</p>
          <p>- Garantir autonomia pedagógica aos professores, valorizando os Projetos Políticos Pedagógicos elaborados por cada unidade escolar;</p>
          <p>- Ampliar o numero de creches e garantir que tenha professor em todas as turmas;</p>
          <p>- Garantir o acesso da comunidade escolar a equipamentos e instalações esportivas dos clubes de bairro;</p>
          <p>-Oferecer educação especial na perspectiva inclusiva, mantendo escolas e classes especiais para os que necessitem de condições específicas de atendimento que impossibilitem a frequência em turmas regulares;</p>
          <p>
            - Garantir que a comida servida nas escolas e creches seja livre de agrotóxicos e transgênicos.
          </p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "#participacaoDemocratica", rel: "modal:open", class: "bg-red-light p2 white caps block"  do %>
          <h2 class="regular">Participação Popular</h2>
      <% end %>

      <div id="participacaoDemocratica" style="display: none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para a participação popular</h2>
          <p>- Criar a Secretaria Municipal de Planejamento e Gestão, substituindo a Casa Civil, para que as ações da prefeitura sejam orientadas para atender o interesse público e funcionem de maneira mais eficaz, eficiente e efetiva;</p>
          <p>- Auditar os contratos de concessão realizados pela prefeitura que não estejam de acordo com a lei, dando mais transparência e fortalecendo a fiscalização sobre as políticas públicas do município;</p>
          <p>- Criar um gabinete virtual para garantir total acesso das pessoas às informações da prefeitura e estabelecer o permanente diálogo com a população através da internet;</p>
          <p>- Criar conselhos de moradores em todas as regiões da cidade para debater e decidir sobre as políticas públicas dos seus bairros;</p>
          <p>- Realizar a cada dois anos a Conferência Carioca para discutir com a população os principais desafios e soluções para a cidade;</p>
          <p>- Criar um programa de Orçamento Participativo para que todos possam opinar sobre como a Prefeitura usará seu dinheiro.</p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "#trabalhoEmprego", rel: "modal:open", class: "bg-red p2 white caps block"  do %>
          <h2 class="regular">Trabalho digno</h2>
      <% end %>

      <div id="trabalhoEmprego" style="display: none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para o trabalho digno</h2>
          <p>- Criar uma incubadora pública para estimular a economia criativa (com incentivo a startups, casas colaborativas e escritórios compartilhados), transformando o Rio em um pólo de tecnologia e inovação em temas que melhorem a vida das pessoas na cidade;</p>
          <p>- Investir em obras de saneamento ambiental, em especial na zona Oeste, garantindo vagas de trabalho para os moradores locais e transformando, assim, os investimentos em saneamento em uma política de geração de emprego aos trabalhadores da construção civil;</p>
          <p>- Investir em obras de melhoria do espaço urbano no entorno dos comércios de bairro (em especial, rampas de acessibilidade, iluminação e banheiros públicos), começando pela zona Norte e Oeste;</p>
          <p>- Estimular a formalização do trabalho através de assistência social, educacional e profissional;</p>
          <p>- Incentivar a formação de cooperativas, fortalecer as políticas de economia solidária e aprimorar os programas de garantia de renda mínima;</p>
          <p>- Criar o Banco Municipal de Desenvolvimento, para garantir recursos em projetos que promovam a distribuição de renda, beneficiem os pequenos e médios comerciantes e produtores, e incentivem economias de baixo impacto ambiental.</p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "#moradia", rel: "modal:open", class: "bg-red-dark p2 white caps block"  do %>
          <h2 class="regular">Moradia</h2>
      <% end %>

      <div id="moradia" style="display: none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para a moradia</h2>
          <p>- Criar novos programas de habitação de interesse social para garantir acesso à moradia adequada às famílias com renda mensal de até 3 salários mínimos;</p>
          <p>- Utilizar imóveis públicos vazios em programas de moradia popular;</p>
          <p>- Aplicar instrumentos previstos no Estatuto das Cidades para desestimular a presença de imóveis privados subutilizados, vazios ou abandonados e, consequentemente, reduzir o preço do aluguel na cidade;</p>
          <p>- Ampliar a oferta de serviços públicos nas regiões onde já foram construídos projetos de habitação popular, como o Minha Casa Minha Vida;</p>
          <p>- Reorientar os programas de habitação popular (como o Minha Casa Minha Vida) para áreas centrais da cidade com maior oferta de serviços públicos;</p>
          <p>- Promover cadastramento e regularização de imóveis em favelas e garantir o acesso a serviços municipais com qualidade, começando pelas favelas das zonas Norte e Oeste;</p>
          <p>- Extinguir a atual política de remoções forçadas.</p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "#pluralidade", rel: "modal:open", class: "bg-red-light p2 white caps block"  do %>
          <h2 class="regular">Liberdades e Diversidades</h2>
      <% end %>

      <div id="pluralidade" style="display: none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para a liberdades e diversidades</h2>
          <p>- Investir na formação de professores e em material pedagógico para combater a discriminação e o preconceito nas escolas públicas;</p>
          <p>- Promover campanhas de conscientização para defender as liberdades daqueles que são oprimidos em função de sua classe, gênero, raça, sexualidade, religião, idade, cultura e corpo;</p>
          <p>- Criar e fortalecer conselhos de políticas públicas, em especial, os de defesa dos direitos das mulheres, negros, população LGBT, juventude e pessoas com deficiência;</p>
          <p>- Implantar Centros de Cidadania LGBT para oferecer material pedagógico, atendimento psicossocial e jurídico, cursos de capacitação e atividades culturais;</p>
          <p>- Garantir o Estado Laico e a diversidade religiosa, em especial na educação pública;</p>
          <p>- Promover o atendimento integral, humanizado, transdisciplinar e de qualidade em toda a rede de atenção materno-infantil desde o pré-natal até a atenção ao recém-nascido, respeitando o direito da mulher de decidir sobre o seu corpo.</p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 lg-p1">
      <%= link_to "#cultura", rel: "modal:open", class: "bg-red p2 white caps block"  do %>
        <h2 class="regular">Cultura</h2>
      <% end %>
      <div id="cultura" style="display:none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para a cultura</h2>
          <p>- Fortalecer o Conselho Municipal de Cultura dando-lhe estrutura e capacidade de deliberar sobre as políticas públicas de cultura da cidade;</p>
          <p>- Mudar a política de editais da prefeitura para fomentar a produção cultural permanent;</p>
          <p>- Ampliar os pontos de cultura em todos as regiões da cidade, começando pelas zonas Norte e Oeste;</p>
          <p>- Criar o Conselho Popular de Gestão da RioFilme para democratizar a atuação do órgão;</p>
          <p>- Estabelecer política de financiamento e apoio às mídias populares e alternativas, desenvolvendo o Plano Diretor de Radiodifusão Comunitária;</p>
          <p>- Criar Centrais Públicas de Comunicação – ou pontos de mídia – em cada região da cidade para integrar os telecentros, rádios comunitárias, escolas e centros educacionais, pontos de cultura e outros equipamentos culturais do município, começando pelas zonas Norte e Oeste;</p>
          <p>- Integrar as políticas de cultura e educação para transformar as escolas em polos de preservação da memória dos bairros e promoção da cultura popular;</p>
          <p>- Incentivar a criação de cineclubes nas escolas municipais, começando pelas zonas Norte e Oeste.</p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "#custoDeVida", rel: "modal:open", class: "bg-red-dark p2 white caps block"  do %>
        <h2 class="regular">Assistência Social</h2>
      <% end %>
      <div id="custoDeVida" style="display:none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para assistência social</h2>
          <p>- Valorizar o servidor público da assistência social em suas mais diferentes áreas, com a abertura de concursos públicos e promoção de um plano de carreira digno;</p>
          <p>- Articular todas as secretariais municipais na promoção de políticas de assistência social;</p>
          <p>- Aprimorar as ações voltadas para beneficiários do Cartão Família Carioca, qualificando investimentos em políticas de erradicação da extrema pobreza;</p>
          <p>- Extinguir a política de “recolhimento compulsório” de pessoas em situação de rua e de usuários de drogas;</p>
          <p>- Fortalecer os Conselhos Tutelares com programas de capacitação permanente de seus membros, reformas das instalações físicas e ampliação do quadro de funcionários;</p>
          <p>- Integrar os abrigos do município aos serviços de saúde, educação, cultura, trabalho, esporte, lazer, habitação e geração de renda da rede municipal;</p>
          <p>- Promover políticas de acesso à justiça e garantir programas de reinserção social aos egressos do sistema prisional e do sistema socioeducativo da cidade.</p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "#segurancaPublica", rel: "modal:open", class: "bg-red-light p2 white caps block"  do %>
          <h2 class="regular">Segurança pública</h2>
      <% end %>

      <div id="segurancaPublica" style="display: none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para a segurança pública</h2>
          <p>- Ampliar a participação dos moradores nas decisões que envolvam a segurança dos bairros;</p>
          <p>- Realizar reformas nas calçadas, ruas, praças e parques para garantir a ampliação da iluminação pública, a retirada das grades e o aprimoramento da acessibilidade;</p>
          <p>- Incentivar a ocupação dos espaços públicos com cultura, esporte e lazer: ruas ocupadas são mais seguras;</p>
          <p>- Ampliar a circulação dos ônibus à noite e na madrugada nas áreas de lazer da cidade;</p>
          <p>- Investir na produção e sistematização de dados sobre conflitos urbanos;</p>
          <p>- Criar centros de mediação voltados para a resolução dos conflitos urbanos em todas as regiões administrativas da cidade;</p>
          <p>- Valorizar a Guarda Municipal, implementando um plano de carreira digno, estruturando uma corregedoria independente, garantindo acompanhamento psicológico e promovendo uma formação democrática fundamentada na garantia de direitos e na defesa das liberdades.</p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "#esporte", rel: "modal:open", class: "bg-red p2 white caps block"  do %>
        <h2 class="regular">Esporte</h2>
      <% end %>
      <div id="esporte" style="display:none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para o esporte</h2>
          <p>- Criar o Conselho Municipal de Esporte, dando-lhe estrutura e capacidade para deliberar sobre as políticas públicas de esporte na cidade;</p>
          <p>- Ampliar o numero de quadras poliesportivas nas escolas da rede municipal;</p>
          <p>- Criar um programa de incentivo para revitalizar os clubes de bairro e garantir aos alunos das escolas municipais acesso às instalações esportivas dos clubes;</p>
          <p>- Estabelecer um calendário municipal de competições esportivas nas diversas modalidades para fortalecer os esportes amadores e de alto rendimento;</p>
          <p>- Investir na ampliação de projetos sociais no Estádio de Atletismo Célio de Barros, no Parque Aquático Julio Delamare e no Maracanãzinho;</p>
          <p>- Transformar os equipamentos olímpicos destinado aos Jogos de 2016 em centros de desenvolvimento da educação física e formação de atletas de alto rendimento integrando as escolas e as federações;</p>
          <p>- Criar um centro de referência público de desenvolvimento do iatismo na Marina da Glória.</p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "#meioAmbiente", rel: "modal:open", class: "bg-red-dark p2 white caps block"  do %>
        <h2 class="regular">Meio ambiente</h2>
      <% end %>
      <div id="meioAmbiente" style="display:none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para o meio ambiente</h2>
          <p>- Reduzir a emissão de gases poluentes e promover o consumo de energias renováveis e limpas;</p>
          <p>- Investir em saneamento ambiental para universalizar o acesso à água limpa e a coleta e tratamento de esgoto, começando pelos bairros e favelas da zona Oeste;</p>
          <p>- Criar empresa pública de saneamento ambiental;</p>
          <p>- Despoluir, recuperar e preservar mananciais, rios, lagoas e baías;</p>
          <p>- Implementar política de Lixo Zero baseada em coleta seletiva, reciclagem e reaproveitamento;</p>
          <p>- Ampliar as unidades de conservação, criar parques urbanos e arborizar a cidade, principalmente as zonas Norte e Oeste;</p>
          <p>- Garantir que a comida servida nos postos de saúde, hospitais, abrigos do CRASS, escolas e creches públicas da rede municipal seja livre de agrotóxicos, adubos químicos e transgênicos.</p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "#direitoAnimais", rel: "modal:open", class: "bg-red-light p2 white caps block"  do %>
        <h2 class="regular">Direito dos Animais</h2>
      <% end %>
      <div id="direitoAnimais" style="display:none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para os direitos dos animais</h2>
          <p>- Transformar o Jardim Zoológico do Rio em um centro público de reabilitação, conservação e pesquisa da fauna nativa;</p>
          <p>- Ampliar a rede de hospitais veterinários públicos, aumentar os centros de esterilização e garantir programas de castração móvel no município;</p>
          <p>- Criar programas de acolhimento de animais resgatados de abandono e maus-tratos e promover campanhas de adoção;</p>
          <p>- Criar um sistema de informações voltado para o combate aos crimes contra os animais;</p>
          <p>- Proibir a eutanásia e o uso de câmaras de gás em animais sadios ou com doenças tratáveis.</p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>
  
     <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "#lazer", rel: "modal:open", class: "bg-red p2 white caps block"  do %>
        <h2 class="regular">Lazer</h2>
      <% end %>
      <div id="lazer" style="display:none">
        <div class="max-width-2 left-align">
          <h2 class="center black caps regular mt0">Nossas propostas para o Lazer</h2>
          <p>- Ampliar as áreas de lazer e descanso na cidade, recuperando os espaços públicos perdidos nos últimos anos e aproveitando as garagens, quadras, armazéns e terrenos baldios da prefeitura que estão abandonados para construir novas áreas de lazer;</p>
          <p>- Realizar audiências públicas para deliberar com a sociedade civil os modelos de permissão que devem ser utilizados para desburocratizar as autorizações de uso do espaço público;</p>
          <p>- Instalar banheiros e bebedouros públicos nas praças e parques urbanos da cidade;</p>
          <p>- Implantar linhas de ônibus específicas para a articulação dos bairros com as áreas públicas de lazer da cidade;</p>
          <p>- Planejar a integração do Maracanã à Quinta da Boa Vista e a instalação do Parque Glaziou;</p>
          <p>- Resgatar os espaços públicos da Marina da Glória e do Parque do Flamengo, combatendo a privatização da gestão e do uso dos espaços;</p>
          <p>- Planejar o fechamento de vias urbanas em diferentes bairros da cidade para promover o lazer nos finais de semana em todas as regiões do município.</p>
          <div class="center">
            <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= link_to "https://drive.google.com/file/d/0BxudcFRqOVDobi0yTzR1c1djbVBkbkZWemJ6cVpqb1pOU3Vv/view", target: :blank, class: "button bg-orange rouded white p2 caps block bold", style:"margin-top:25px;" do%>
          Veja todo o programa
      <% end %>
    </div>
  </div>
</div>

<div class="bg-purple white" id="apoiar">
  <div class="max-width-1 mx-auto clearfix px2 py4 center">
    <%= image_tag "volunteers/icone_money.png", class: "mb1", style: "width: 100px" %>
    <h2 class="h1 mt0 caps regular">Milhares de pessoas estão financiando o Freixo</h2>
    <%=
      link_to(
        "Apoiar",
        "http://eufinancio.marcelofreixo.com.br/t/site2",
        class: "button bg-orange white px3 py1 caps bold rounded inline-block mb2"
      )
    %>
    <p>
      Essa campanha é financiada por pessoas comuns como você.<br />
      <strong>Faça sua doação e apoie uma nova forma de fazer política.</strong>
    </p>
  </div>
</div>

<div class="bg-compartilhe bg-cover">
  <div class="max-width-1 mx-auto center py4 px2" id="compartilhe">
    <%= image_tag "volunteers/icone_share.png", class: "mb1", style: "width: 100px" %>
    <h2 class="caps h1 black mt0 regular">Compartilhe</h2>
    <p>
      Já somos <%= number_with_delimiter(User.count + 22442) %> pessoas mobilizadas por uma outra cidade possível.
    </p>
    <p class="bold">
      Compartilhe esse site nas suas redes para que mais gente se junte à nossa campanha.
    </p>
    <p class="mb0">
      <%= link_to_popup("http://www.facebook.com/sharer/sharer.php?u=#{root_url}", {class: "mr1"}) do %>
        <%= image_tag "volunteers/icone_face.png", style: "width: 75px" %>
      <% end %>
      <%= link_to_popup("https://twitter.com/intent/tweet?text=#{URI.escape('Começou! Participe da campanha do Freixo à Prefeitura! #Freixo50 #ÉPossível')}&url=#{root_url}", {class: "mr1"}) do %>
        <%= image_tag "volunteers/icone_twitter.png", style: "width: 75px" %>
      <% end %>
      <%= link_to "whatsapp://send?text=#{URI.escape("Dia 16 começa! Participe da campanha #Freixo2016 à Prefeitura #{request.url}")}", class: "md-hide lg-hide", data: {action: "share/whatsapp/share"} do %>
        <%= image_tag "volunteers/icone_whatsapp.png", style: "width: 75px" %>
      <% end %>
    </p>
  </div>
</div>

<div class="bg-purple white py4 px2 center" id="marcelofreixo">
  <div class="max-width-1 mx-auto">
    <%= image_tag "volunteers/icone_50.png", class: "mb1", style: "width: 100px" %>
    <h2 class="caps h1 mt0 regular">Você conhece bem o Freixo e a Luciana?</h2>
    <select class="input" id="fact-switcher">
      <option value="marcelo">Marcelo Freixo</option>
      <option value="luciana">Luciana</option>
    </select>
    <div class="black slick" id="facts">
      <% freixo_facts.each do |fact| %>
        <%= card class: "mx2 marcelo-fact" do %>
          <%= card_body do %>
            <%= fact %>
          <% end %>
        <% end %>
      <% end %>
      <% luciana_facts.each do |fact| %>
        <%= card class: "mx2 luciana-fact" do %>
          <%= card_body do %>
            <%= fact %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="max-width-1 mx-auto center py4 px2" id="apoiadores">
  <%= image_tag "volunteers/icone_juntos.png", class: "mb1", style: "width: 100px" %>
  <h2 class="caps h1 mt0 black regular">Veja quem acredita que outra cidade é possível:</h2>
  <div class="slick">
    <% supporters.each do |supporter| %>
      <%= card class: "mx1" do %>
        <%= card_body do %>
          <div class="center">
            <%= image_tag supporter[:photo], class: "circle mb1 mx-auto", width: 75, height: 75 %>
            <div>
              <div class="mb1">
                <strong><%= supporter[:name] %></strong>
                <br />
                <%= supporter[:description] %>
              </div>
              <div class="italic">"<%= supporter[:testimony] %>"</div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="bg-purple white py4 px2 center" id="baixemateriais">
  <div class="max-width-1 mx-auto">
    <%= image_tag "http://i.imgur.com/9dzTWtP.png", class: "mb1", style: "width: 100px" %>
    <h2 class="caps h1 mt0 regular">BAIXE NOSSOS MATERIAIS</h2>
    <p>
      Acesse a nossa parta online e baixe os materiais para espalhar nossa campanha pelas ruas e redes! Lá você encontra as artes abertas pra poder criar suas próprias artes!
      <br>
    </p>
    <br><br>
    <a href="https://drive.google.com/drive/folders/0B0zcLMaA7FRtOTY5YVoxRjFiY3M" target="_blank" class="inline-block button bg-orange rouded white caps p2 bold">VER PASTA</a>
  </div>
</div>

<div class="bg-black clearfix white py3">
  <div class="max-width-4 mx-auto mxn2">
    <div class="lg-col sm-col-12 lg-col-4 px2 mb3">
      <p class="mt0 h5">
        <a href="mailto:mobilizafreixo@marcelofreixo.com.br" style="color:white;">mobilizafreixo@marcelofreixo.com.br</a>
        <br>
        Tel: 2113 - 0472
      </p>
      <p class="mt0 h5">
        Diretório do PSOL no Rio:
        <br />
        Rua Beco João Inácio, 12
      </p>
      <p class="h5">
        Site desenvolvido com <3
        <br />
        para a campanha do Freixo e da Luciana.
      </p>
      <p class="h5 mb0">
        CNPJ da Campanha:
        <br />
        25.283.699/0001-75
      </p>
    </div>
    <div class="lg-col sm-col-12 lg-col-4 px2 mb3">
      <div class="mb1">Sala de Imprensa:</div>
      <%= link_to "Veja as fotos da campanha", "http://bit.ly/mf50-imprensafotos", class: "block yellow mb1" %>
      <%= link_to "Assista aos vídeos da campanha", "http://bit.ly/mf50-canal50", class: "block yellow mb1" %>
      <%= link_to "Leia os releases para imprensa", "http://bit.ly/mf50-imprensa", class: "block yellow mb1" %>
      <!--<%= link_to "Agenda do Marcelo e da Luciana", "http://bit.ly/agendadecampanha-freixo50", class: "block yellow mb1" %>-->
    </div>
    <div class="lg-col sm-col-12 lg-col-4 px2">
      <a
        target="_blank"
        href="https://www.facebook.com/MarceloFreixoPsol/"
        style="letter-spacing: 2px"
        class="yellow caps block bold mb1">
        <%= icon('facebook', class: "white", style: "width: 18px; text-align: center") %>
        /marcelofreixopsol
      </a>
      <a
        target="_blank"
        href="https://twitter.com/marcelofreixo"
        style="letter-spacing: 2px"
        class="yellow caps block bold mb1">
        <%= icon('twitter', class: "white", style: "width: 18px; text-align: center") %>
        /marcelofreixo
      </a>
      <a
        target="_blank"
        href="https://www.instagram.com/marcelofreixo/?hl=en"
        style="letter-spacing: 2px"
        class="yellow caps block bold mb1">
        <%= icon('instagram', class: "white", style: "width: 18px; text-align: center") %>
        /marcelofreixo
      </a>
      <a
        target="_blank"
        href="https://www.youtube.com/c/marcelofreixo"
        style="letter-spacing: 2px"
        class="yellow caps block bold mb1">
        <%= icon('youtube', class: "white", style: "width: 18px; text-align: center") %>
        /marcelofreixo
      </a>
      <span
        style="letter-spacing: 2px"
        class="yellow caps block bold">
        <%= icon('snapchat', class: "white", style: "width: 18px; text-align: center") %>
        /marcelofreixo
      </span>
    </div>
  </div>
</div>
