<%= content_for :head do %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Marcelo Freixo | É o candidato do PSOL à Prefeitura do Rio de Janeiro.</title>
  <meta property="og:title" content="Dia 16 começa. Participe da campanha do Freixo à Prefeitura." />
  <meta property="og:image" content="<%= image_url 'volunteers/facebook-share.jpg' %>" />
  <meta property="og:description" content="Clique pra saber como participar." />
  <%= favicon_link_tag 'favicon.png' %>
<% end %>

<div class="bg-red bg-cover white py3 bg-above">
  <div class="max-width-4 mx-auto clearfix">
    <div class="col xs-col-12 lg-col-6 mx-auto px2">
      <div class="sm-center">
        <h1 class="white regular caps mt0">Um Rio de Janeiro mais humano <span class="underline">é possível</span>.</h1>
        <p>
          É hora de apresentarmos um projeto para a cidade construído coletivamente.
          Temos <strong><%= (Date.new(2016, 10, 2) - Date.today).to_i %> dias</strong> até a eleição e <strong><%= number_with_delimiter(User.count + 10000) %></strong> pessoas mobilizadas.
        </p>
        <p class="bold mb3">
          Junte-se a nós agora e saiba como você pode ajudar a fazer isso acontecer:
        </p>
      </div>
    </div>
    <div class="col xs-col-12 lg-col-6 mx-auto px2">
      <% if params[:profile_created] %>
        <%= form_for @user, url: volunteer_path(@user.id), method: :put do |f| %>
          <div class="center mb3">
            <p class="mt0">
              Obrigado por se juntar a essa campanha!
            </p>
            <p>
              Só queremos te mandar os chamados que sejam mais interessantes pra você. Complete o seu perfil para dizer como você quer ajudar com a campanha:
            </p>
          </div>
          <div class="mb3">
            <% favorite_tasks.each do |task| %>
              <div class="mb1">
                <%= f.check_box "favorite_tasks", {multiple: true, include_hidden: false, id: "user_favorite_tasks_#{task.parameterize.underscore}", style: "margin: 0; vertical-align: middle"}, task %>
                <%= f.label "favorite_tasks_#{task.parameterize.underscore}", task, class: "label inline" %>
              </div>
            <% end %>
          </div>

          <%= f.label :school, class: "label" %>
          <%=
            f.select(
              :school,
              school_list,
              { prompt: t('activerecord.attributes.user.school') },
              class: "input mb3"
            )
          %>

          <% favorite_topics.each do |topic| %>
            <div class="mb1 mr2 inline-block">
              <%= f.check_box "favorite_topics", {multiple: true, include_hidden: false, id: "user_favorite_topics_#{topic.parameterize.underscore}", style: "margin: 0; vertical-align: middle"}, topic %>
              <%= f.label "favorite_topics_#{topic.parameterize.underscore}", topic, class: "label inline" %>
            </div>
          <% end %>
          <%= f.submit "Enviar!", class: "button bg-aqua block white caps bold border-none h3 p2 rounded mt3", style: "width: 100%" %>
        <% end %>
      <% elsif params[:profile_completed] %>
        <div id="profile_completed" class="center">
          <p class="mt0">Seu perfil foi atualizado! Você pode editá-lo a qualquer momento no menu do topo esquerdo da página.</p>
          <p>Agora, compartilhe o nosso site de mobilização em todas as suas redes.</p>
          <p>Quanto mais pessoas estiverem mobilizadas, maiores são as nossas chances de ganhar essa campanha!</p>
          <div class="center">
            <%=
              link_to_popup(
                "http://www.facebook.com/sharer/sharer.php?u=#{root_url}",
                class: "button bg-facebook-blue white py1 px3 caps inline-block rounded bold h4 m1"
              ) do
            %>
              <%= icon('facebook') %> Compartilhar
            <% end %>
            <%=
              link_to_popup(
                "https://twitter.com/intent/tweet?text=#{URI.escape('Dia 16 começa! Participe da campanha #Freixo2016 à Prefeitura')}&url=#{root_url}",
                class: "button bg-twitter-blue white py1 px3 caps inline-block rounded bold h4 m1"
              ) do
            %>
              <%= icon('twitter') %> Tweetar
            <% end %>
          </div>
        </div>
      <% else %>
        <%= form_for @user, url: volunteers_path do |f| %>
          <div class="mxn2">
            <div class="col col-12 md-col-6 px2 mb1">
              <%= f.label :first_name, class: "aqua label required" %>
              <%= f.text_field(:first_name, class: "input", style: "margin-bottom: .25rem") %>
              <div class="h6 white first_name_errors">
                <%= @user.errors.messages[:first_name].join(', ') %>
              </div>
            </div>

            <div class="col col-12 md-col-6 px2 mb1">
              <%= f.label :last_name, class: "aqua label required" %>
              <%= f.text_field(:last_name, class: "input", style: "margin-bottom: .25rem") %>
              <div class="h6 white last_name_errors">
                <%= @user.errors.messages[:last_name].join(', ') %>
              </div>
            </div>
          </div>

          <div class="mb1">
            <%= f.label :email, class: "aqua label required" %>
            <%= f.email_field(:email, class: "input", style: "margin-bottom: .25rem") %>
            <div class="h6 white email_errors">
              <%= @user.errors.messages[:email].join(', ') %>
            </div>
          </div>

          <div class="mb1">
            <%= f.label :cell_phone_number, class: "aqua label" %>
            <%= f.telephone_field(:cell_phone_number, class: "input", style: "margin-bottom: .25rem") %>
            <div class="h6 white cell_phone_number_errors">
              <%= @user.errors.messages[:cell_phone_number].join(', ') %>
            </div>
          </div>

          <div class="mb1">
            <%= f.label :district, class: "aqua label" %>
            <%=
              f.select(
                :district,
                district_list,
                {include_blank: true},
                class: "input rounded",
                style: "margin-bottom: .25rem"
              )
            %>
            <div class="h6 white"><%= @user.errors.messages[:district].join(', ') %></div>
          </div>

          <div class="mb1 white">
            <%= f.check_box :wants_to_receive_tasks_via_whatsapp %>
            <%= f.label :wants_to_receive_tasks_via_whatsapp, style: "cursor: pointer", class: "h5" %>
          </div>

          <div>
            <%=
              f.submit(
                "Tô dentro!",
                class: "button bg-aqua block caps p2 h2 white border-none rounded bold mt3",
                style: "width: 100%"
              )
            %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="bg-freixoeluciana bg-cover" style="height: 230px"></div>

<div class="bg-aqua py3 px2 center">
  <%= link_to "#tarefa", class: "m1 inline-block" do %>
    <%= image_tag "volunteers/icone_tarefa.png", width: 100 %>
  <% end %>
  <%= link_to "#eventos", class: "m1 inline-block" do %>
    <%= image_tag "volunteers/icone_eventos.png", width: 100 %>
  <% end %>
  <%= link_to "#nucleos", class: "m1 inline-block" do %>
    <%= image_tag "volunteers/icone_local.png", width: 100 %>
  <% end %>
  <%= link_to "#apoiar", class: "m1 inline-block" do %>
    <%= image_tag "volunteers/icone_money.png", width: 100 %>
  <% end %>
  <%= link_to "#propostas", class: "m1 inline-block" do %>
    <%= image_tag "volunteers/icone_ideia.png", width: 100 %>
  <% end %>
  <%= link_to "#marcelofreixo", class: "m1 inline-block" do %>
    <%= image_tag "volunteers/icone_50.png", width: 100 %>
  <% end %>
  <%= link_to "#canal50", class: "m1 inline-block" do %>
    <%= image_tag "volunteers/icone_tv.png", width: 100 %>
  <% end %>
  <%= link_to "#compartilhe", class: "m1 inline-block" do %>
    <%= image_tag "volunteers/icone_share.png", width: 100 %>
  <% end %>
</div>

<% if Setting.daily_task_description.present? %>
  <div class="bg-tarefa bg-cover">
    <div id="tarefa" class="max-width-1 mx-auto px2 py3 black center">
      <%= image_tag "volunteers/icone_tarefa.png", class: "mb1", style: "width: 100px" %>
      <h2 class="caps mt0 h1 regular">O quê você pode fazer hoje?</h2>
      <div class="mb3"><%= raw Setting.daily_task_description %></div>
      <%=
        link_to(
          "Fazer tarefa",
          Setting.daily_task_link,
          class: "button bg-orange h4 white caps block p2 center bold",
          target: :blank
        )
      %>
    </div>
  </div>
<% end %>

<div class="bg-purple" id="eventos">
  <div class="max-width-1 mx-auto px2 py3 white center">
    <%= image_tag "volunteers/icone_eventos.png", class: "mb1", style: "width: 100px" %>
    <h2 class="caps mt0 h1 regular">Próximos eventos da campanha:</h2>
    <div class="slick">
      <% Event.where("start_at >= ?", Time.now).order("start_at").each do |event| %>
        <%= card(class: "mx1") do %>
          <%= card_body do %>
            <span class="block bold mb1 h3 red m0"><%= event.title %></span>
            <span class="block h4 aqua bold mt0"><%= l(event.start_at, format: :short) %></span>
            <p class="black"><%= truncate(event.short_description, length: 140) %></p>
            <%= link_to "Participar", event.facebook_link, target: :blank, class: "button bg-orange block caps bold white p1 rounded" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%= link_to "Veja o mapa dos eventos", map_groups_path, class: "button bg-orange py1 px2 caps bold white mt1 inline-block rounded" %>
  </div>
</div>

<div class="bg-comite bg-cover">
  <div class="max-width-1 mx-auto px2 py3 center black" id="nucleos">
    <%= image_tag "volunteers/icone_local.png", class: "mb1", style: "width: 100px" %>
    <h2 class="mt0 h1 caps regular">Participe da campanha onde você mora ou estuda!</h2>
    <span class="h2 bold block red mb1">Selecione um núcleo</span>
    <%= select_tag "group", options_for_select(Group.all.map {|g| [g.name, group_path(g)]}), class: "input", prompt: "Nome do núcleo", onChange: "window.location = event.target.value" %>
    <%= link_to "Veja o mapa dos núcleos", map_groups_path, class: "button bg-orange py1 px2 caps bold white mt1 inline-block rounded" %>
  </div>
</div>

<div class="bg-purple white" id="apoiar">
  <div class="max-width-1 mx-auto clearfix px2 py3 center">
    <h1 class="h3 regular">
      <%= image_tag "volunteers/icone_money.png", class: "mb1", style: "width: 100px" %>
      <h2 class="h1 mt0 caps regular">Muitas pessoas estão financiando o Freixo</h2>
      <p>
        Essa campanha é financiada por pessoas comuns como você.<br />
        <strong>Faça sua doação e apoie uma nova forma de fazer política.</strong>
      </p>
    </h1>
    <%=
      link_to(
        "Apoiar",
        "http://eufinancio.marcelofreixo.com.br",
        class: "button bg-orange white px3 py1 caps bold rounded inline-block"
      )
    %>
  </div>
</div>

<div class="max-width-1 mx-auto center py3 px2" id="propostas">
  <%= image_tag "volunteers/icone_ideia.png", class: "mb1", style: "width: 100px" %>
  <h2 class="caps h1 black mt0 regular">Sim, é possível! Conheça as nossas propostas para a cidade:</h2>
  <p>
    Desde 2015 reunimos mais de 5000 pessoas em mais de 70 encontros para construírmos juntos um programa de governo para o Rio. Conheça as nossas propostas:
  </p>
</div>

<div class="max-width-4 mx-auto center clearfix mxn2 mb3">
  <div class="col col-12 lg-col-4 sm-col-12 lg-p1">
    <%= link_to "https://medium.com/mudar-%C3%A9-poss%C3%ADvel/cultura-c0f52ad35363#.5uq8zmbd1", class: "bg-red-light p2 white caps block", target: :blank do %>
      <h2 class="regular">Cultura</h2>
    <% end %>
  </div>

  <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
    <%= link_to "https://medium.com/mudar-%C3%A9-poss%C3%ADvel/custo-de-vida-1e058551e45c#.vyo3v3tso", class: "bg-red p2 white caps block", target: :blank do %>
      <h2 class="regular">Custo de vida</h2>
    <% end %>
  </div>

  <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
    <%= link_to "https://medium.com/mudar-%C3%A9-poss%C3%ADvel/educa%C3%A7%C3%A3o-7c2a745d2e11#.9db94468n", class: "bg-red-dark p2 white caps block", target: :blank do %>
      <h2 class="regular">Educação</h2>
    <% end %>
  </div>

  <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
    <%= link_to "https://medium.com/mudar-%C3%A9-poss%C3%ADvel/meio-ambiente-f59190bc4acc#.num4vtxgx", class: "bg-red-light p2 white caps block", target: :blank do %>
      <h2 class="regular">Meio ambiente</h2>
    <% end %>
  </div>

  <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
    <%= link_to "https://medium.com/mudar-%C3%A9-poss%C3%ADvel/moradia-abdd81b32e1a#.807ebxvpu", class: "bg-red p2 white caps block", target: :blank do %>
      <h2 class="regular">Moradia</h2>
    <% end %>
  </div>

  <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
    <%= link_to "https://medium.com/mudar-%C3%A9-poss%C3%ADvel/participa%C3%A7%C3%A3o-e-democracia-7a3a87b1d220#.u68zzpood", class: "bg-red-dark p2 white caps block", target: :blank do %>
      <h2 class="regular">Participação democrática</h2>
    <% end %>
  </div>

  <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
    <%= link_to "https://medium.com/mudar-%C3%A9-poss%C3%ADvel/pluralidade-a2117369f099#.7igjjag3g", class: "bg-red-light p2 white caps block", target: :blank do %>
      <h2 class="regular">Pluralidade</h2>
    <% end %>
  </div>

  <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
    <%= link_to "https://medium.com/mudar-%C3%A9-poss%C3%ADvel/sa%C3%BAde-d380f8184bb8#.nh4g08r08", class: "bg-red p2 white caps block", target: :blank do %>
      <h2 class="regular">Saúde</h2>
    <% end %>
  </div>

  <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
    <%= link_to "https://medium.com/mudar-%C3%A9-poss%C3%ADvel/seguran%C3%A7a-p%C3%BAblica-93b0da98566e#.9y8db1ycm", class: "bg-red-dark p2 white caps block", target: :blank do %>
      <h2 class="regular">Segurança pública</h2>
    <% end %>
  </div>

  <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
    <%= link_to "https://medium.com/mudar-%C3%A9-poss%C3%ADvel/trabalho-e-emprego-c254c59a0a1f#.sieh18vqe", class: "bg-red-light p2 white caps block", target: :blank do %>
      <h2 class="regular">Trabalho e emprego</h2>
    <% end %>
  </div>

  <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
    <%= link_to "https://medium.com/mudar-%C3%A9-poss%C3%ADvel/transporte-9120f2f356cb#.bykao4jde", class: "bg-red p2 white caps block", target: :blank do %>
      <h2 class="regular">Transporte</h2>
    <% end %>
  </div>

  <%= link_to "Veja todo o programa", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "inline-block mt3 mb3 button bg-orange rouded white caps p2 bold" %>
</div>

<div class="bg-purple white py3 px2 center" id="marcelofreixo">
  <div class="max-width-1 mx-auto">
    <%= image_tag "volunteers/icone_50.png", class: "mb1", style: "width: 100px" %>
    <h2 class="caps h1 mt0 regular">Você conhece bem o Freixo e a Luciana?</h2>
    <div class="black slick">
      <% freixo_facts.each do |fact| %>
        <%= card class: "mx2" do %>
          <%= card_body do %>
            <%= fact %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="bg-compartilhe bg-cover">
  <div class="max-width-1 mx-auto center py3 px2" id="compartilhe">
    <%= image_tag "volunteers/icone_share.png", class: "mb1", style: "width: 100px" %>
    <h2 class="caps h1 black mt0 regular">Compartilhe</h2>
    <p>
      Já somos <%= number_with_delimiter(User.count + 10000) %> pessoas mobilizadas por uma outra cidade possível.
      Compartilhe esse site nas suas redes para que mais gente se junte à nossa campanha.
    </p>
    <p class="mb0">
      <%= link_to_popup("http://www.facebook.com/sharer/sharer.php?u=#{root_url}", {class: "mr1"}) do %>
        <%= image_tag "volunteers/icone_face.png", style: "width: 75px" %>
      <% end %>
      <%= link_to_popup("https://twitter.com/intent/tweet?text=#{URI.escape('Dia 16 começa! Participe da campanha #Freixo2016 à Prefeitura')}&url=#{root_url}", {class: "mr1"}) do %>
        <%= image_tag "volunteers/icone_twitter.png", style: "width: 75px" %>
      <% end %>
      <%= link_to "whatsapp://send?text=#{URI.escape("Dia 16 começa! Participe da campanha #Freixo2016 à Prefeitura #{request.url}")}", class: "md-hide lg-hide", data: {action: "share/whatsapp/share"} do %>
        <%= image_tag "volunteers/icone_whatsapp.png", style: "width: 75px" %>
      <% end %>
    </p>
  </div>
</div>

<div class="bg-purple white">
  <div class="max-width-1 mx-auto center py3 px2" id="canal50">
    <%= image_tag "volunteers/icone_tv.png", class: "mb1", style: "width: 100px" %>
    <h2 class="h1 regular mt0 caps">Acompanhe o canal 50</h2>
    <p>No Brasil, quem se recusa a fazer alianças com partidos aleatórios só para conseguir tempo de TV acaba tendo poucos segundos para apresentar suas ideias.</p>
    <p class="bold mb3">Assista os nossos vídeos e ajude a compartilhar eles nas suas redes.</p>
    <%= link_to "Assistir o Canal 50", "https://www.youtube.com/user/marcelofreixo", target: :blank, class: "button bg-orange white py1 px2 rounded h3 caps bold inline-block" %>
  </div>
</div>

<div class="bg-black clearfix">
  <div class="max-width-4 mx-auto sm-flex justify-around px2">
    <a
      target="_blank"
      href="https://www.facebook.com/MarceloFreixoPsol/"
      style="letter-spacing: 2px"
      class="yellow caps block bold mt2 mb2">
      <%= icon('facebook', class: "white") %>
      /marcelofreixopsol
    </a>
    <a
      target="_blank"
      href="https://twitter.com/marcelofreixo"
      style="letter-spacing: 2px"
      class="yellow caps block bold mt2 mb2">
      <%= icon('twitter', class: "white") %>
      /marcelofreixo
    </a>
    <a
      target="_blank"
      href="https://www.instagram.com/marcelofreixo/?hl=en"
      style="letter-spacing: 2px"
      class="yellow caps block bold mt2 mb2">
      <%= icon('instagram', class: "white") %>
      /marcelofreixo
    </a>
  </div>
</div>
