<%= content_for :head do %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Marcelo Freixo | É o candidato do PSOL à Prefeitura do Rio de Janeiro.</title>
  <meta property="og:title" content="Dia 16 começa. Participe da campanha do Freixo à Prefeitura." />
  <meta property="og:image" content="<%= image_url 'volunteers/facebook-share.jpg' %>" />
  <meta property="og:description" content="Clique pra saber como participar." />
  <%= favicon_link_tag 'debate_petition_signatures/favicon.png' %>
<% end %>

<div class="bg-cover py4" style="background-image: url('<%= image_path('volunteers/bg.jpg') %>')">
  <div class="max-width-4 mx-auto">
    <div class="clearfix md-flex">
      <div class="col col-12 sm-col-12 md-col-5 lg-col-5 px2">
        <%= image_tag('volunteers/logo.png', class: "fit") %>
        <div class="mb3 lg-hide"></div>
      </div>
      <div class="col col-12 sm-col-12 md-col-7 lg-col-7 px2 flex items-center">
        <div class="mx-auto">
          <%= image_tag "volunteers/slogan.png", class: "fit" %>
        </div>
      </div>
    </div>
    <div class="mb3 lg-hide"></div>
    <div class="clearfix mt2">
      <div class="col sm-col-12 mx-auto center px2">
        <h1 class="white h3 regular mb4">
          <p>
            Está chegando a hora de mostrarmos a força de uma campanha construída coletivamente, sem dinheiro das empreiteiras e dos bancos, nem a máquina do governo ou da igreja.
          </p>
          <p>
            Inscreva-se abaixo para saber como você vai poder ajudar a construir uma cidade mais democrática e menos desigual.
          </p>
        </h1>
      </div>
    </div>
    <div class="xs-col-12 sm-col-5 mx-auto px2">
      <% if flash[:notice] %>
        <%= card do %>
          <%= card_body do %>
            <p class="mt0">
              Obrigado por se juntar a essa campanha! Já somos mais de 40 mil pessoas que têm uma ligação com Freixo, mas para ganharmos a cidade precisamos de mais pessoas!
            </p>
            <p class="mb3">
              Compartilhe agora essa página com sua família e amigos que têm interesse em participar da campanha quando ela começar!
            </p>
            <div class="center">
              <%=
                link_to_popup(
                  "http://www.facebook.com/sharer/sharer.php?u=#{request.url}",
                  class: "button bg-facebook-blue white py1 px3 caps inline-block rounded bold h4 m1"
                ) do
              %>
                <%= icon('facebook') %> Compartilhar
              <% end %>
              <%=
                link_to_popup(
                  "https://twitter.com/intent/tweet?text=#{URI.escape('Dia 16 começa! Participe da campanha #Freixo2016 à Prefeitura')}&url=#{request.url}",
                  class: "button bg-twitter-blue white py1 px3 caps inline-block rounded bold h4 m1"
                ) do
              %>
                <%= icon('twitter') %> Tweetar
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= form_for @user, url: volunteers_path do |f| %>
          <div class="mxn2">
            <div class="col col-12 md-col-6 px2 mb3">
              <%=
                f.text_field(
                  :first_name,
                  placeholder: t('activerecord.attributes.user.first_name'),
                  class: "input",
                  style: "margin-bottom: .25rem"
                )
              %>
              <div class="h6 white first_name_errors">
                <%= @user.errors.messages[:first_name].join(', ') %>
              </div>
            </div>

            <div class="col col-12 md-col-6 px2 mb3">
              <%=
                f.text_field(
                  :last_name,
                  placeholder: t('activerecord.attributes.user.last_name'),
                  class: "input",
                  style: "margin-bottom: .25rem"
                )
              %>
              <div class="h6 white last_name_errors">
                <%= @user.errors.messages[:last_name].join(', ') %>
              </div>
            </div>
          </div>

          <div class="mb3">
            <%=
              f.email_field(
                :email,
                placeholder: t('activerecord.attributes.user.email'),
                class: "input",
                style: "margin-bottom: .25rem"
              )
            %>
            <div class="h6 white email_errors">
              <%= @user.errors.messages[:email].join(', ') %>
            </div>
          </div>

          <div class="mb3">
            <%=
              f.telephone_field(
                :cell_phone_number,
                placeholder: t('activerecord.attributes.user.cell_phone_number'),
                class: "input",
                style: "margin-bottom: .25rem"
              )
            %>
            <div class="h6 white cell_phone_number_errors">
              <%= @user.errors.messages[:cell_phone_number].join(', ') %>
            </div>
          </div>

          <div class="mb3">
            <%=
              f.select(
                :district,
                district_list,
                {prompt: t('activerecord.attributes.user.district')},
                class: "input rounded",
                style: "margin-bottom: .25rem"
              )
            %>
            <div class="h6 white"><%= @user.errors.messages[:district].join(', ') %></div>
          </div>

          <div class="mb3">
            <%=
              f.select(
                :school,
                school_list,
                {prompt: t('activerecord.attributes.user.school')},
                class: "input rounded",
                style: "margin-bottom: .25rem"
              )
            %>
            <div class="h6 white"><%= @user.errors.messages[:school].join(', ') %></div>
          </div>

          <div class="mb3 white">
            <%= f.check_box :wants_to_receive_tasks_via_whatsapp %>
            <%= f.label :wants_to_receive_tasks_via_whatsapp, style: "cursor: pointer" %>
          </div>

          <div class="mb3 white">
            <%= f.check_box :wants_to_donate %>
            <%= f.label :wants_to_donate, style: "cursor: pointer" %>
          </div>

          <div class="mb3">
            <%=
              f.submit(
                "Tô dentro!",
                class: "button bg-yellow block caps p2 h2 white border-none rounded bold",
                style: "width: 100%"
              )
            %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="bg-black clearfix py3">
  <div class="max-width-4 mx-auto">
    <div class="col sm-col-12 mx-auto center px2">
      <h1 class="white h3 regular">
        <p>
          Esse ano os outros candidatos não poderão receber doações das empresas que sempre investiram na campanha deles. É a nossa chance de mostrar que a força da construção coletiva pode mudar essa cidade.
        </p>
        <p>
          Faça a sua doação e ajude a estruturar o início da nossa campanha!
        </p>
      </h1>
      <%=
        link_to(
          "Apoiar",
          "http://eufinancio.marcelofreixo.com.br",
          class: "button bg-yellow white py1 px2 caps bold rounded inline-block"
        )
      %>
    </div>
  </div>
</div>

<div class="bg-purple clearfix">
  <div class="max-width-4 mx-auto sm-flex justify-around px2">
    <a
      target="_blank"
      href="https://www.facebook.com/MarceloFreixoPsol/"
      style="letter-spacing: 2px"
      class="yellow caps block bold mt2 mb2">
      <%= icon('facebook', class: "white") %>
      /marcelofreixopsol
    </a>
    <a
      target="_blank"
      href="https://twitter.com/marcelofreixo"
      style="letter-spacing: 2px"
      class="yellow caps block bold mt2 mb2">
      <%= icon('twitter', class: "white") %>
      /marcelofreixo
    </a>
    <a
      target="_blank"
      href="https://www.instagram.com/marcelofreixo/?hl=en"
      style="letter-spacing: 2px"
      class="yellow caps block bold mt2 mb2">
      <%= icon('instagram', class: "white") %>
      /marcelofreixo
    </a>
  </div>
</div>
