<%= content_for :head do %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Marcelo Freixo | É o candidato do PSOL à Prefeitura do Rio de Janeiro.</title>
  <meta property="og:title" content="Começou! Participe da campanha do Freixo à Prefeitura!" />
  <meta property="og:image" content="<%= image_url 'volunteers/facebook-share.jpg' %>" />
  <meta property="og:description" content="Clique pra saber como participar." />
  <%= favicon_link_tag 'favicon.png' %>
<% end %>

<%= content_for :menu do %>
  <%= link_to "Tarefa do Dia", "#tarefa", class: "block p2 black btn-user-menu" %>
  <%= link_to "Agenda da campanha", "#eventos", class: "block p2 black btn-user-menu" %>
  <%= link_to "Núcleos de Mobilização", "#nucleos", class: "block p2 black btn-user-menu" %>
  <%= link_to "Canal 50", "#canal50", class: "block p2 black btn-user-menu" %>
  <%= link_to "Propostas", "#propostas", class: "block p2 black btn-user-menu" %>
  <%= link_to "Financiar", "#apoiar", class: "block p2 black btn-user-menu" %>
  <%= link_to "Compartilhe", "#compartilhe", class: "block p2 black btn-user-menu" %>
  <%= link_to "Freixo e Luciana", "#marcelofreixo", class: "block p2 black btn-user-menu" %>
  <%= link_to "Apoiadores", "#apoiadores", class: "block p2 black btn-user-menu" %>
<% end %>

<div class="white py3 bg-marcelo-luciana" style="padding-top: 100px; background-color: #ff8200; background-position: bottom center">
  <div class="max-width-4 mx-auto clearfix mxn2">
    <div class="center col-12 xs-col-12 sm-col-6 md-col-6 lg-col-4 px2 lg-right mx-auto" style="box-sizing: border-box">
      <h1 class="white regular caps mt0" style="font-size: 2.5rem">
        Um Rio de Janeiro
        <br />
        mais
        <br />
        <span class="typed-title"></span>
        <div id="typed-title-strings" class="hide">
          <p>humano</p>
          <p>democrático</p>
          <p>diverso</p>
          <p>justo</p>
          <p>barato</p>
          <p>verde</p>
          <p>acolhedor</p>
          <p>dinâmico</p>
          <p>vivo</p>
          <p>plural</p>
        </div>
        <br />
        <span class="underline"> é possível</span>.
      </h1>
      <%= link_to "Participe da campanha", "#participe", class: "bg-purple white p1 caps bold rounded block mb2" %>
      <%= link_to "Conheça as propostas", "#propostas", class: "bg-purple white p1 caps bold rounded block" %>
    </div>
  </div>
</div>

<div class="bg-purple white py3" id="participe">
  <div class="max-width-4 mx-auto clearfix">
    <div class="md-col xs-col-12 sm-col-6 md-col-6 lg-col-6 mx-auto px2">
      <div class="sm-center">
        <h2 class="mt0 h1 caps regular">Participe da campanha</h2>
        <p>
          É hora de apresentarmos um projeto para a cidade construído coletivamente e elegermos Marcelo Freixo prefeito do Rio. Temos <strong><%= (Date.new(2016, 9, 30) - Date.today).to_i %> dias</strong> dias até a eleição e <strong><%= number_with_delimiter(User.count + 10000) %></strong> pessoas mobilizadas.
        </p>
        <p class="bold mb3">
          <%= link_to "Conheça nossas propostas", "#propostas", class: "aqua" %> e junte-se a nós agora para saber como você pode fazer isso acontecer:
        </p>
      </div>
    </div>
    <div class="md-col xs-col-12 sm-col-6 md-col-6 lg-col-6 mx-auto px2">
      <div class="p2 bg-darken-4">
        <% if params[:profile_created] %>
          <%= form_for @user, url: volunteer_path(@user.id), method: :put do |f| %>
            <div class="sm-center mb3">
              <p class="mt0 bold">
                Obrigado por se juntar a essa campanha!
              </p>
              <p>
                Só queremos te mandar os chamados que sejam mais interessantes pra você. <strong>Complete o seu perfil para dizer como você quer ajudar com a campanha:</strong>
              </p>
            </div>
            <div class="mb3">
              <% favorite_tasks.each do |task| %>
                <div class="mb1">
                  <%= f.check_box "favorite_tasks", {multiple: true, include_hidden: false, id: "user_favorite_tasks_#{task.parameterize.underscore}", style: "margin: 0; vertical-align: middle"}, task %>
                  <%= f.label "favorite_tasks_#{task.parameterize.underscore}", task, class: "label inline" %>
                </div>
              <% end %>
            </div>

            <%= f.label :school, class: "label" %>

            <%=
              f.select(
                :school,
                school_list,
                { prompt: t('activerecord.attributes.user.school') },
                class: "input mb3"
              )
            %>

            <%= f.submit "Enviar!", class: "button bg-aqua block white caps bold border-none h3 p2 rounded mt3", style: "width: 100%" %>
          <% end %>
        <% elsif params[:profile_completed] %>
          <div id="profile_completed" class="sm-center">
            <p class="mt0 bold">
              Você pode editá-lo a qualquer momento no menu do topo esquerdo da página.
            </p>
            <p>Você pode editá-lo a qualquer momento preenchendo novamente o cadastro nessa página principal.</p>
            <p class="bold">Agora, compartilhe o nosso site de mobilização em todas as suas redes.</p>
            <p>Quanto mais pessoas estiverem mobilizadas, maiores são as nossas chances de ganhar essa campanha!</p>
            <div class="sm-center">
              <%=
                link_to_popup(
                  "http://www.facebook.com/sharer/sharer.php?u=#{root_url}",
                  class: "button bg-facebook-blue white py1 px3 caps inline-block rounded bold h4 m1"
                ) do
              %>
                <%= icon('facebook') %> Compartilhar
              <% end %>
              <%=
                link_to_popup(
                  "https://twitter.com/intent/tweet?text=#{URI.escape('Começou! Participe da campanha do Freixo à Prefeitura! #Freixo50 #ÉPossível')}&url=#{root_url}",
                  class: "button bg-twitter-blue white py1 px3 caps inline-block rounded bold h4 m1"
                ) do
              %>
                <%= icon('twitter') %> Tweetar
              <% end %>
            </div>
          </div>
        <% else %>
          <%= form_for @user, url: volunteers_path do |f| %>
            <div class="mxn2">
              <div class="col col-12 md-col-6 px2 mb1">
                <%= f.label :first_name, class: "aqua label required" %>
                <%= f.text_field(:first_name, class: "input", style: "margin-bottom: .25rem") %>
                <div class="h6 white first_name_errors">
                  <%= @user.errors.messages[:first_name].join(', ') %>
                </div>
              </div>

              <div class="col col-12 md-col-6 px2 mb1">
                <%= f.label :last_name, class: "aqua label required" %>
                <%= f.text_field(:last_name, class: "input", style: "margin-bottom: .25rem") %>
                <div class="h6 white last_name_errors">
                  <%= @user.errors.messages[:last_name].join(', ') %>
                </div>
              </div>
            </div>

            <div class="mb1">
              <%= f.label :email, class: "aqua label required" %>
              <%= f.email_field(:email, class: "input", style: "margin-bottom: .25rem") %>
              <div class="h6 white email_errors">
                <%= @user.errors.messages[:email].join(', ') %>
              </div>
            </div>

            <div class="mb1">
              <%= f.label :cell_phone_number, class: "aqua label" %>
              <%= f.telephone_field(:cell_phone_number, class: "input", style: "margin-bottom: .25rem") %>
              <div class="h6 white cell_phone_number_errors">
                <%= @user.errors.messages[:cell_phone_number].join(', ') %>
              </div>
            </div>

            <div class="mb1">
              <%= f.label :district, class: "aqua label" %>
              <%=
                f.select(
                  :district,
                  district_list,
                  {include_blank: true},
                  class: "input rounded",
                  style: "margin-bottom: .25rem"
                )
              %>
              <div class="h6 white"><%= @user.errors.messages[:district].join(', ') %></div>
            </div>

            <div>
              <%=
                f.submit(
                  "Tô dentro!",
                  class: "button bg-aqua block caps p2 h2 white border-none rounded bold mt3",
                  style: "width: 100%"
                )
              %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="bg-aqua py3 px2 center h5">
  <h2 class="h1 white regular mt0 caps">Participe da campanha!</h2>
  <%= link_to "#tarefa", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_tarefa.png", width: 100 %>
    <div class="mt1 bold">Tarefa do Dia</div>
  <% end %>
  <%= link_to "#eventos", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_eventos.png", width: 100 %>
    <div class="mt1 bold">Agenda da campanha</div>
  <% end %>
  <%= link_to "#nucleos", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_local.png", width: 100 %>
    <div class="mt1 bold">Núcleos</div>
  <% end %>
  <%= link_to "#apoiar", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_money.png", width: 100 %>
    <div class="mt1 bold">Financiar</div>
  <% end %>
  <%= link_to "#propostas", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_ideia.png", width: 100 %>
    <div class="mt1 bold">Propostas</div>
  <% end %>
  <%= link_to "#marcelofreixo", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_50.png", width: 100 %>
    <div class="mt1 bold">Freixo e Luciana</div>
  <% end %>
  <%= link_to "#canal50", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_tv.png", width: 100 %>
    <div class="mt1 bold">Canal 50</div>
  <% end %>
  <%= link_to "#compartilhe", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_share.png", width: 100 %>
    <div class="mt1 bold">Compartilhe</div>
  <% end %>
  <%= link_to "#apoiadores", class: "m1 inline-block white", style: "width: 120px; vertical-align: top" do %>
    <%= image_tag "volunteers/icone_juntos.png", width: 100 %>
    <div class="mt1 bold">Apoiadores</div>
  <% end %>
</div>

<% if Setting.daily_task_description.present? %>
  <div class="bg-tarefa bg-cover">
    <div id="tarefa" class="max-width-1 mx-auto px2 py4 black center">
      <%= image_tag "volunteers/icone_tarefa.png", class: "mb1", style: "width: 100px" %>
      <h2 class="caps mt0 h1 regular">O quê você pode fazer hoje?</h2>
      <div class="mb3"><%= raw Setting.daily_task_description %></div>
      <%=
        link_to(
          "Fazer tarefa",
          Setting.daily_task_link,
          class: "button bg-orange h4 white caps block p2 center bold",
          target: :blank
        )
      %>
    </div>
  </div>
<% end %>

<div class="bg-purple" id="eventos">
  <div class="max-width-1 mx-auto px2 py4 white center">
    <%= image_tag "volunteers/icone_eventos.png", class: "mb1", style: "width: 100px" %>
    <h2 class="caps mt0 h1 regular">Agenda da campanha:</h2>
    <div class="slick">
      <% Event.where("start_at >= ?", Time.now).order("start_at").each do |event| %>
        <%= card(class: "mx1") do %>
          <%= card_body do %>
            <span class="block bold mb1 h3 red m0"><%= event.title %></span>
            <span class="block h4 aqua bold mt0"><%= l(event.start_at, format: :short) %></span>
            <p class="black"><%= truncate(event.short_description, length: 140) %></p>
            <%= link_to "Participar", event.facebook_link, target: :blank, class: "button bg-orange block caps bold white p1 rounded" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%= link_to "Veja o mapa dos eventos", map_groups_path, class: "button bg-orange py1 px2 caps bold white mt1 inline-block rounded" %>
  </div>
</div>

<div class="bg-comite bg-cover">
  <div class="max-width-1 mx-auto px2 py4 center black" id="nucleos">
    <%= image_tag "volunteers/icone_local.png", class: "mb1", style: "width: 100px" %>
    <h2 class="mt0 h1 caps regular">Participe da campanha perto de você!</h2>
    <span class="h2 bold block red mb1">Selecione um núcleo</span>
    <%= select_tag "group", options_for_select(Group.all.map {|g| [g.name, group_path(g)]}), class: "input", prompt: "Nome do núcleo", onChange: "window.location = event.target.value" %>
    <%= link_to "Veja o mapa dos núcleos", map_groups_path, class: "button bg-orange py1 px2 caps bold white mt1 inline-block rounded" %>
  </div>
</div>

<div class="bg-purple white">
  <div class="max-width-1 mx-auto center py3 py4" id="canal50">
    <%= image_tag "volunteers/icone_tv.png", class: "mb1", style: "width: 100px" %>
    <h2 class="h1 regular mt0 caps">Acompanhe o canal 50</h2>
    <p>No Brasil, quem se recusa a fazer alianças com partidos aleatórios só para conseguir tempo de TV acaba tendo poucos segundos para apresentar suas ideias.</p>
    <p class="bold mb3">Assista os nossos vídeos e ajude a compartilhar eles nas suas redes.</p>
    <%= link_to "Assistir o Canal 50", "https://www.facebook.com/MarceloFreixoPsol/videos", target: :blank, class: "button bg-orange white py1 px2 rounded h3 caps bold inline-block" %>
  </div>
</div>

<div class="bg-propostas bg-cover">
  <div class="max-width-1 mx-auto center py4 px2" id="propostas">
    <%= image_tag "volunteers/icone_ideia.png", class: "mb1", style: "width: 100px" %>
    <h2 class="caps h1 black mt0 regular">
      Sim, é possível! Conheça as nossas propostas para uma cidade mais
      <br />
      <span class="typed-proposals"></span>
      <div id="typed-proposals-strings" class="hide">
        <p>democrática</p>
        <p>barata</p>
        <p>justa</p>
        <p>saudável</p>
        <p>livre e diversa</p>
        <p>dinâmica</p>
      </div>
    </h2>
    <p>
      Desde 2015 reunimos mais de 5000 pessoas em mais de 70 encontros para construírmos juntos um programa de governo para o Rio. Conheça as nossas propostas:
    </p>
  </div>
  <div class="max-width-4 mx-auto center clearfix mxn2 mb3">
    <div class="col col-12 lg-col-4 sm-col-12 lg-p1">
      <%= toggle_link_to "cultura", class: "bg-red-light p2 white caps block"  do %>
        <h2 class="regular">Cultura</h2>
      <% end %>
      <%= dialog "cultura" do %>
        <%= card do %>
          <%= card_body do %>
            <div class="max-width-2 left-align">
              <h2 class="center black caps regular mt0">Nossas propostas para a cultura</h2>
              <p>- Fortalecer o conselho de cultura para que delibere sobre políticas culturais e isenções fiscais;</p>
              <p>- Construir equipamentos culturais nas zonas Norte e Oeste.</p>
              <p>- Criar políticas de incentivo à produção cultural nas favelas e periferia, usando a rede de escolas municipais;</p>
              <p>- Criar o conselho de gestão da RioFilme, com membros da sociedade civil, para democratizar a atuação do órgão;</p>
              <p>- Criar salas populares de cinema em toda a cidade e incentivar a criação de cineclubes nas escolas municipais;</p>
              <p>- Desenvolver Plano Diretor de Radiodifusão Comunitária;</p>
              <p>- Estabelecer política de financiamento e apoio às mídias populares e alternativas;</p>
              <p>- Integrar as políticas de cultura e educação para transformar as escolas em polos de preservação da memória dos bairros e promoção da cultura popular.</p>
              <div class="center">
                <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= toggle_link_to "custoDeVida", class: "bg-red p2 white caps block"  do %>
        <h2 class="regular">Custo de vida</h2>
      <% end %>
      <%= dialog "custoDeVida" do %>
        <%= card do %>
          <%= card_body do %>
            <div class="max-width-2 left-align">
              <h2 class="center black caps regular mt0">Nossas propostas para o custo de vida</h2>
              <p>- Definir uma nova política tarifária, mais simples, integrada e barata;</p>
              <p>- Construir restaurantes e mercados populares em cada região da cidade;</p>
              <p>- Incentivar a formação de uma rede de agricultura familiar urbana e hortas comunitárias para abastecer mercados e restaurantes populares, escolas, abrigos e hospitais municipais;</p>
              <p>- Utilizar imóveis públicos ociosos para programas de moradia popular, principalmente na região portuária;</p>
              <p>- Combater a especulação imobiliária através da cobrança de IPTU progressivo sobre o tempo para imóveis e lotes vazios.</p>
              <div class="center">
                <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= toggle_link_to "educacao", class: "bg-red-dark p2 white caps block"  do %>
        <h2 class="regular">Educação</h2>
      <% end %>
      <%= dialog "educacao" do %>
        <%= card do %>
          <%= card_body do %>
            <div class="max-width-2 left-align">
              <h2 class="center black caps regular mt0">Nossas propostas para a educação</h2>
              <p>- Abrir as escolas para a realização de cursos e atividades culturais e de preservação da memória dos bairros;</p>
              <p>- Realizar eleições diretas para a direção das escolas;</p>
              <p>- Melhorar os salários, as condições de trabalho e garantir a autonomia pedagógica aos professores;</p>
              <p>- Limitar a 30 a quantidade de alunos por sala, instalar ar condicionado em todas as unidades e ampliar bibliotecas e salas de informática;</p>
              <p>- Garantir às escolas municipais o acesso aos equipamentos e instalações esportivas dos clubes de bairro;</p>
              <p>- Universalizar o acesso às creches municipais.</p>
              <div class="center">
                <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= toggle_link_to "meioAmbiente", class: "bg-red-light p2 white caps block"  do %>
        <h2 class="regular">Meio ambiente</h2>
      <% end %>
      <%= dialog "meioAmbiente" do %>
        <%= card do %>
          <%= card_body do %>
            <div class="max-width-2 left-align">
              <h2 class="center black caps regular mt0">Nossas propostas para o meio ambiente</h2>
              <p>- Avançar na garantia do saneamento básico com acesso à água tratada e rede de esgoto;</p>
              <p>- Despoluir as baías de Guanabara e de Sepetiba e os rios;</p>
              <p>- Implementar política de Lixo Zero baseada em coleta seletiva, reciclagem e reaproveitamento;</p>
              <p>- Priorizar e investir em energias renováveis e não poluentes.</p>
              <p>- Ampliar as unidades de conservação, criar parques urbanos e arborizar a cidade.</p>
              <div class="center">
                <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= toggle_link_to "moradia", class: "bg-red p2 white caps block"  do %>
        <h2 class="regular">Moradia</h2>
      <% end %>
      <%= dialog "moradia" do %>
        <%= card do %>
          <%= card_body do %>
            <div class="max-width-2 left-align">
              <h2 class="center black caps regular mt0">Nossas propostas para a moradia</h2>
              <p>- Utilizar imóveis públicos ociosos localizados em áreas centrais em programas de moradia popular;</p>
              <p>- Ampliar a oferta de serviços públicos (transporte, postos de saúde, escolas, lugares de lazer e cultura) para favelas e regiões onde foram construídos projetos de habitação popular, como o Minha Casa Minha Vida</p>
              <p>- Criar programa de moradia popular que priorize pessoas que ganham até três salários mínimos;</p>
              <p>- Promover regularização dos terrenos nas favelas e garantir o acesso a serviços públicos com qualidade.</p>
              <div class="center">
                <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= toggle_link_to "participacaoDemocratica", class: "bg-red-dark p2 white caps block"  do %>
        <h2 class="regular">Participação democrática</h2>
      <% end %>
      <%= dialog "participacaoDemocratica" do %>
        <%= card do %>
          <%= card_body do %>
            <div class="max-width-2 left-align">
              <h2 class="center black caps regular mt0">Nossas propostas para a participação democrática</h2>
              <p>- Criar o orçamento participativo para que todos possam opinar sobre como a prefeitura usará seu dinheiro;</p>
              <p>- Implantar o gabinete virtual para garantir total acesso da população a informações de interesse público disponíveis na prefeitura;</p>
              <p>- Estabelecer o permanente diálogo com a população através do uso de tecnologias digitais e da internet;</p>
              <p>- Realizar a cada dois anos o Fórum Carioca para discutir com a população os principais desafios e soluções para a cidade;</p>
              <p>- Criar conselhos de moradores em todas as regiões administrativas da cidade para debater e decidir sobre futuras intervenções e obras do poder público nos seus bairros.</p>
              <div class="center">
                <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= toggle_link_to "pluralidade", class: "bg-red-light p2 white caps block"  do %>
        <h2 class="regular">Pluralidade</h2>
      <% end %>
      <%= dialog "pluralidade" do %>
        <%= card do %>
          <%= card_body do %>
            <div class="max-width-2 left-align">
              <h2 class="center black caps regular mt0">Nossas propostas para a pluralidade</h2>
              <p>- Criar e fortalecer conselhos de políticas públicas, em especial, os de defesa dos direitos das mulheres, negros, população LGBT e pessoas com deficiência;</p>
              <p>- Investir na formação de professores e material pedagógico para combater a discriminação nas escolas públicas;</p>
              <p>- Garantir o Estado Laico e a diversidade religiosa, em especial na educação públicas;</p>
              <p>- Promover o parto humanizado em toda a rede de saúde pública;</p>
              <p>- Implantar plano municipal de políticas para população LGBT.</p>
              <div class="center">
                <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= toggle_link_to "saude", class: "bg-red p2 white caps block"  do %>
        <h2 class="regular">Saúde</h2>
      <% end %>
      <%= dialog "saude" do %>
        <%= card do %>
          <%= card_body do %>
            <div class="max-width-2 left-align">
              <h2 class="center black caps regular mt0">Nossas propostas para a saúde</h2>
              <p>- Realizar concursos para, gradativamente, retomar a gestão pública das unidades de saúde, sem que o atendimento à população seja prejudicado;</p>
              <p>- Instituir plano de cargos e salários para valorizar a carreira dos profissionais;</p>
              <p>- Universalizar o atendimento da rede de atenção primária na cidade;</p>
              <p>- Diminuir os gargalos no atendimento na rede de média e alta capacidade;</p>
              <p>- Criar empresa pública para garantir saneamento básico.</p>
              <div class="center">
                <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= toggle_link_to "segurancaPublica", class: "bg-red-dark p2 white caps block"  do %>
        <h2 class="regular">Segurança pública</h2>
      <% end %>
      <%= dialog "segurancaPublica" do %>
        <%= card do %>
          <%= card_body do %>
            <div class="max-width-2 left-align">
              <h2 class="center black caps regular mt0">Nossas propostas para a segurança pública</h2>
              <p>- Criar o conselho municipal de segurança cidadã;</p>
              <p>- Organizar um banco de dados com informações sobre violência na cidade para planejar políticas públicas;</p>
              <p>- Garantir trabalho digno, qualificação profissional e promover atividades esportivas e culturais;</p>
              <p>- Melhorar a iluminação pública e ampliar a circulação dos ônibus à noite e na madrugada;</p>
              <p>- Incentivar a ocupação dos espaços públicos com cultura, esporte e lazer: ruas ocupadas são mais seguras.</p>
              <div class="center">
                <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= toggle_link_to "trabalhoEmprego", class: "bg-red-light p2 white caps block"  do %>
        <h2 class="regular">Trabalho e emprego</h2>
      <% end %>
      <%= dialog "trabalhoEmprego" do %>
        <%= card do %>
          <%= card_body do %>
            <div class="max-width-2 left-align">
              <h2 class="center black caps regular mt0">Nossas propostas para o trabalho e emprego</h2>
              <p>- Criar o Banco Municipal de Desenvolvimento, abrindo linhas de microcrédito e fomento para autoempreendedores, cooperativas, comércio de bairro e economia solidária;</p>
              <p>- Estimular o setor da economia criativa, transformando o Rio num polo de inovação, colaboração e tecnologia.</p>
              <p>- Oferecer cursos de qualificação profissional para a gestão de pequenos negócios e cooperativas;</p>
              <p>- Criar centros de comércio popular nos bairros, levando opções de lazer para as famílias e promovendo melhorias no espaço público;</p>
              <p>- Investir em obras de saneamento básico para garantir emprego dos trabalhadores de construção civil que estarão ociosos após os Jogos Olímpicos;</p>
              <p>- Estimular a formalização do trabalho através de assistência social, técnica e profissional.</p>
              <div class="center">
                <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col col-12 lg-col-4 sm-col-12 xs-col-12 lg-p1">
      <%= toggle_link_to "transporte", class: "bg-red p2 white caps block"  do %>
        <h2 class="regular">Transporte</h2>
      <% end %>
      <%= dialog "transporte" do %>
        <%= card do %>
          <%= card_body do %>
            <div class="max-width-2 left-align">
              <h2 class="center black caps regular mt0">Nossas propostas para o transporte</h2>
              <p>- Realizar auditoria imediata nos contratos da concessão dos ônibus de 2010;</p>
              <p>- Criar uma Empresa Pública de Transportes para realizar o planejamento, gestão e fiscalização do sistema de transportes;</p>
              <p>- Implementar o Fundo Municipal de Transportes, garantindo investimentos contínuos na melhoria do transporte público municipal e no barateamento da tarifa;</p>
              <p>- Coordenar um planejamento participativo as linhas de ônibus de acordo com as reais necessidades da população;</p>
              <p>- Criar o VLT suburbano, para melhorar os deslocamentos na Zona Norte e integrar os diversos modos de transporte e equipamentos municipais;;</p>
              <p>- Promover a integração das tarifas de todos os sistemas.</p>
              <p>- Desenvolver o Plano Cicloviário Carioca, para que a população oriente a expansão das ciclovias na cidade, em especial na Zona Norte e Oeste.</p>
              <div class="center">
                <%= link_to "Veja todas as propostas", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "button bg-yellow p1 white caps bold rounded mt1 inline-block" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= link_to "Veja todo o programa", "https://medium.com/mudar-%C3%A9-poss%C3%ADvel", target: :blank, class: "inline-block mt3 mb3 button bg-orange rouded white caps p2 bold" %>
  </div>
</div>

<div class="bg-purple white" id="apoiar">
  <div class="max-width-1 mx-auto clearfix px2 py4 center">
    <%= image_tag "volunteers/icone_money.png", class: "mb1", style: "width: 100px" %>
    <h2 class="h1 mt0 caps regular">Muitas pessoas estão financiando o Freixo</h2>
    <%=
      link_to(
        "Apoiar",
        "http://eufinancio.marcelofreixo.com.br",
        class: "button bg-orange white px3 py1 caps bold rounded inline-block mb2"
      )
    %>
    <p>
      Essa campanha é financiada por pessoas comuns como você.<br />
      <strong>Faça sua doação e apoie uma nova forma de fazer política.</strong>
    </p>
  </div>
</div>

<div class="bg-compartilhe bg-cover">
  <div class="max-width-1 mx-auto center py4 px2" id="compartilhe">
    <%= image_tag "volunteers/icone_share.png", class: "mb1", style: "width: 100px" %>
    <h2 class="caps h1 black mt0 regular">Compartilhe</h2>
    <p>
      Já somos <%= number_with_delimiter(User.count + 10000) %> pessoas mobilizadas por uma outra cidade possível.
    </p>
    <p class="bold">
      Compartilhe esse site nas suas redes para que mais gente se junte à nossa campanha.
    </p>
    <p class="mb0">
      <%= link_to_popup("http://www.facebook.com/sharer/sharer.php?u=#{root_url}", {class: "mr1"}) do %>
        <%= image_tag "volunteers/icone_face.png", style: "width: 75px" %>
      <% end %>
      <%= link_to_popup("https://twitter.com/intent/tweet?text=#{URI.escape('Começou! Participe da campanha do Freixo à Prefeitura! #Freixo50 #ÉPossível')}&url=#{root_url}", {class: "mr1"}) do %>
        <%= image_tag "volunteers/icone_twitter.png", style: "width: 75px" %>
      <% end %>
      <%= link_to "whatsapp://send?text=#{URI.escape("Dia 16 começa! Participe da campanha #Freixo2016 à Prefeitura #{request.url}")}", class: "md-hide lg-hide", data: {action: "share/whatsapp/share"} do %>
        <%= image_tag "volunteers/icone_whatsapp.png", style: "width: 75px" %>
      <% end %>
    </p>
  </div>
</div>

<div class="bg-purple white py4 px2 center" id="marcelofreixo">
  <div class="max-width-1 mx-auto">
    <%= image_tag "volunteers/icone_50.png", class: "mb1", style: "width: 100px" %>
    <h2 class="caps h1 mt0 regular">Você conhece bem o Freixo e a Luciana?</h2>
    <select class="input" id="fact-switcher">
      <option value="marcelo">Marcelo Freixo</option>
      <option value="luciana">Luciana</option>
    </select>
    <div class="black slick" id="facts">
      <% freixo_facts.each do |fact| %>
        <%= card class: "mx2 marcelo-fact" do %>
          <%= card_body do %>
            <%= fact %>
          <% end %>
        <% end %>
      <% end %>
      <% luciana_facts.each do |fact| %>
        <%= card class: "mx2 luciana-fact" do %>
          <%= card_body do %>
            <%= fact %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="max-width-1 mx-auto center py4 px2" id="apoiadores">
  <%= image_tag "volunteers/icone_juntos.png", class: "mb1", style: "width: 100px" %>
  <h2 class="caps h1 mt0 black regular">Veja quem acredita que outra cidade é possível:</h2>
  <div class="slick">
    <% supporters.each do |supporter| %>
      <%= card class: "mx1" do %>
        <%= card_body do %>
          <div class="center">
            <%= image_tag supporter[:photo], class: "circle mb1 mx-auto", width: 75, height: 75 %>
            <div>
              <div class="mb1">
                <strong><%= supporter[:name] %></strong>
                <br />
                <%= supporter[:description] %>
              </div>
              <div class="italic">"<%= supporter[:testimony] %>"</div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="bg-black clearfix white py3">
  <div class="max-width-4 mx-auto mxn2">
    <div class="lg-col sm-col-12 lg-col-4 px2 mb3">
      <p class="mt0 h5">
        Diretório do PSOL no Rio:
        <br />
        Rua Beco João Inácio, 12
      </p>
      <p class="h5">
        Site desenvolvido com <3
        <br />
        para a campanha do Freixo e da Luciana.
      </p>
      <p class="h5 mb0">
        CNPJ da Campanha:
        <br />
        25.283.699/0001-75
      </p>
    </div>
    <div class="lg-col sm-col-12 lg-col-4 px2 mb3">
      <div class="mb1">Sala de Imprensa:</div>
      <%= link_to "Veja as fotos da campanha", "http://bit.ly/mf50-imprensafotos", class: "block yellow mb1" %>
      <%= link_to "Assista aos vídeos da campanha", "http://bit.ly/mf50-canal50", class: "block yellow mb1" %>
      <%= link_to "Leia os releases para imprensa", "http://bit.ly/mf50-imprensa", class: "block yellow mb1" %>
      <%= link_to "Agenda do Marcelo e da Luciana", "http://bit.ly/agendadecampanha-freixo50", class: "block yellow mb1" %>
    </div>
    <div class="lg-col sm-col-12 lg-col-4 px2">
      <a
        target="_blank"
        href="https://www.facebook.com/MarceloFreixoPsol/"
        style="letter-spacing: 2px"
        class="yellow caps block bold mb1">
        <%= icon('facebook', class: "white", style: "width: 18px; text-align: center") %>
        /marcelofreixopsol
      </a>
      <a
        target="_blank"
        href="https://twitter.com/marcelofreixo"
        style="letter-spacing: 2px"
        class="yellow caps block bold mb1">
        <%= icon('twitter', class: "white", style: "width: 18px; text-align: center") %>
        /marcelofreixo
      </a>
      <a
        target="_blank"
        href="https://www.instagram.com/marcelofreixo/?hl=en"
        style="letter-spacing: 2px"
        class="yellow caps block bold mb1">
        <%= icon('instagram', class: "white", style: "width: 18px; text-align: center") %>
        /marcelofreixo
      </a>
      <a
        target="_blank"
        href="https://www.youtube.com/c/marcelofreixo"
        style="letter-spacing: 2px"
        class="yellow caps block bold mb1">
        <%= icon('youtube', class: "white", style: "width: 18px; text-align: center") %>
        /marcelofreixo
      </a>
      <span
        style="letter-spacing: 2px"
        class="yellow caps block bold">
        <%= icon('snapchat', class: "white", style: "width: 18px; text-align: center") %>
        /marcelofreixo
      </span>
    </div>
  </div>
</div>
