<%= content_for :head do %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Marcelo Freixo | É o candidato do PSOL à Prefeitura do Rio de Janeiro.</title>
  <meta property="og:title" content="Dia 16 começa. Participe da campanha do Freixo à Prefeitura." />
  <meta property="og:image" content="<%= image_url 'volunteers/facebook-share.jpg' %>" />
  <meta property="og:description" content="Clique pra saber como participar." />
  <%= favicon_link_tag 'favicon.png' %>
<% end %>

<div class="bg-cover py4" style="background-image: url('<%= image_path('volunteers/bg.jpg') %>')">
  <div class="max-width-4 mx-auto">
    <div class="clearfix md-flex">
      <div class="col col-12 sm-col-12 md-col-5 lg-col-5 px2">
        <%= image_tag('volunteers/logo.png', class: "fit") %>
        <div class="mb3 lg-hide"></div>
      </div>
      <div class="col col-12 sm-col-12 md-col-7 lg-col-7 px2 flex items-center">
        <div class="mx-auto">
          <%= image_tag "volunteers/slogan.png", class: "fit" %>
        </div>
      </div>
    </div>
    <div class="mb3 lg-hide"></div>
    <div class="clearfix mt2">
      <div class="col sm-col-12 mx-auto center px2">
        <h1 class="white h3 mb4">
          <p>
            Está chegando a hora de mostrarmos a força de uma campanha construída coletivamente, com quem acredita em um Rio mais democrático e menos desigual.
          </p>
          <p>
            Inscreva-se abaixo para saber como você vai poder ajudar essa campanha a acontecer.
          </p>
        </h1>
      </div>
    </div>
    <div class="xs-col-12 sm-col-5 mx-auto px2">
      <% if params[:profile_created] %>
        <%= form_for @user, url: volunteer_path(@user.id), method: :put do |f| %>
          <%= card do %>
            <%= card_body do %>
              <p class="mt0">
                Obrigado por se juntar a essa campanha!
              </p>
              <p>
                Só queremos te mandar os chamados que sejam mais interessantes pra você. Complete o seu perfil para dizer como você quer ajudar com a campanha:
              </p>
              <div class="mb2">
                <% favorite_tasks.each do |task| %>
                  <div class="mb1">
                    <%= f.check_box "favorite_tasks", {multiple: true, include_hidden: false}, task %>
                    <%= f.label "favorite_tasks_#{task.parameterize.underscore}", task, class: "label inline" %>
                  </div>
                <% end %>
              </div>

              <%=
                f.select(
                  :school,
                  school_list,
                  { prompt: t('activerecord.attributes.user.school') },
                  class: "input"
                )
              %>

              <% favorite_topics.each do |topic| %>
                <div class="mb1">
                  <%= f.check_box "favorite_topics", {multiple: true, include_hidden: false}, topic %>
                  <%= f.label "favorite_topics_#{topic.parameterize.underscore}", topic, class: "label inline" %>
                </div>
              <% end %>
            <% end %>
            <%= card_actions do %>
              <%= f.submit "Enviar!", class: "button bg-orange white caps bold border-none h3 p1 rounded" %>
            <% end %>
          <% end %>
        <% end %>
      <% elsif params[:profile_completed] %>
        <div id="profile_completed">
          <%= card do %>
            <%= card_body do %>
              <p class="mt0">Seu perfil foi atualizado! Você pode editá-lo a qualquer momento no menu do topo esquerdo da página.</p>
              <p>Agora, compartilhe o nosso site de mobilização em todas as suas redes.</p>
              <p>Quanto mais pessoas estiverem mobilizadas, maiores são as nossas chances de ganhar essa campanha!</p>
              <div class="center">
                <%=
                  link_to_popup(
                    "http://www.facebook.com/sharer/sharer.php?u=#{root_url}",
                    class: "button bg-facebook-blue white py1 px3 caps inline-block rounded bold h4 m1"
                  ) do
                %>
                  <%= icon('facebook') %> Compartilhar
                <% end %>
                <%=
                  link_to_popup(
                    "https://twitter.com/intent/tweet?text=#{URI.escape('Dia 16 começa! Participe da campanha #Freixo2016 à Prefeitura')}&url=#{root_url}",
                    class: "button bg-twitter-blue white py1 px3 caps inline-block rounded bold h4 m1"
                  ) do
                %>
                  <%= icon('twitter') %> Tweetar
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <%= form_for @user, url: volunteers_path do |f| %>
          <div class="mxn2">
            <div class="col col-12 md-col-6 px2 mb3">
              <%=
                f.text_field(
                  :first_name,
                  placeholder: t('activerecord.attributes.user.first_name'),
                  class: "input",
                  style: "margin-bottom: .25rem"
                )
              %>
              <div class="h6 white first_name_errors">
                <%= @user.errors.messages[:first_name].join(', ') %>
              </div>
            </div>

            <div class="col col-12 md-col-6 px2 mb3">
              <%=
                f.text_field(
                  :last_name,
                  placeholder: t('activerecord.attributes.user.last_name'),
                  class: "input",
                  style: "margin-bottom: .25rem"
                )
              %>
              <div class="h6 white last_name_errors">
                <%= @user.errors.messages[:last_name].join(', ') %>
              </div>
            </div>
          </div>

          <div class="mb3">
            <%=
              f.email_field(
                :email,
                placeholder: t('activerecord.attributes.user.email'),
                class: "input",
                style: "margin-bottom: .25rem"
              )
            %>
            <div class="h6 white email_errors">
              <%= @user.errors.messages[:email].join(', ') %>
            </div>
          </div>

          <div class="mb3">
            <%=
              f.telephone_field(
                :cell_phone_number,
                placeholder: t('activerecord.attributes.user.cell_phone_number'),
                class: "input",
                style: "margin-bottom: .25rem"
              )
            %>
            <div class="h6 white cell_phone_number_errors">
              <%= @user.errors.messages[:cell_phone_number].join(', ') %>
            </div>
          </div>

          <div class="mb3">
            <%=
              f.select(
                :district,
                district_list,
                {prompt: t('activerecord.attributes.user.district')},
                class: "input rounded",
                style: "margin-bottom: .25rem"
              )
            %>
            <div class="h6 white"><%= @user.errors.messages[:district].join(', ') %></div>
          </div>

          <div class="mb3">
            <%=
              f.select(
                :school,
                school_list,
                {prompt: t('activerecord.attributes.user.school')},
                class: "input rounded",
                style: "margin-bottom: .25rem"
              )
            %>
            <div class="h6 white"><%= @user.errors.messages[:school].join(', ') %></div>
          </div>

          <div class="mb3 white">
            <%= f.check_box :wants_to_receive_tasks_via_whatsapp %>
            <%= f.label :wants_to_receive_tasks_via_whatsapp, style: "cursor: pointer" %>
          </div>

          <div class="mb3 white">
            <%= f.check_box :wants_to_donate %>
            <%= f.label :wants_to_donate, style: "cursor: pointer" %>
          </div>

          <div class="mb3">
            <%=
              f.submit(
                "Tô dentro!",
                class: "button bg-yellow block caps p2 h2 white border-none rounded bold",
                style: "width: 100%"
              )
            %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="bg-black clearfix py3">
  <div class="max-width-4 mx-auto">
    <div class="col sm-col-12 mx-auto center px2">
      <h1 class="white h3 regular">
        <p>
          Desde a campanha de 2014 que o PSOL não aceita doações de empresas.
        </p>
        <p>
          Mais uma vez, queremos financiar nossa campanha com quem acredita em uma nova forma de fazer política. Faça a sua doação agora e ajude a estruturar o início da campanha!
        </p>
      </h1>
      <%=
        link_to(
          "Apoiar",
          "http://eufinancio.marcelofreixo.com.br",
          class: "button bg-yellow white py2 px3 caps bold rounded inline-block"
        )
      %>
    </div>
  </div>
</div>

<% if Setting.daily_task_description.present? %>
  <div id="daily-task" class="max-width-1 mx-auto px2 py3 black">
    <h2 class="caps mt0">O que posso fazer hoje?</h2>
    <div class="mb2"><%= raw Setting.daily_task_description %></div>
    <%=
      link_to(
        "Participar",
        Setting.daily_task_link,
        class: "button bg-yellow h4 white caps block p2 center bold",
        target: :blank
      )
    %>
  </div>
<% end %>

<div class="bg-purple clearfix">
  <div class="max-width-4 mx-auto sm-flex justify-around px2">
    <a
      target="_blank"
      href="https://www.facebook.com/MarceloFreixoPsol/"
      style="letter-spacing: 2px"
      class="yellow caps block bold mt2 mb2">
      <%= icon('facebook', class: "white") %>
      /marcelofreixopsol
    </a>
    <a
      target="_blank"
      href="https://twitter.com/marcelofreixo"
      style="letter-spacing: 2px"
      class="yellow caps block bold mt2 mb2">
      <%= icon('twitter', class: "white") %>
      /marcelofreixo
    </a>
    <a
      target="_blank"
      href="https://www.instagram.com/marcelofreixo/?hl=en"
      style="letter-spacing: 2px"
      class="yellow caps block bold mt2 mb2">
      <%= icon('instagram', class: "white") %>
      /marcelofreixo
    </a>
  </div>
</div>
