<%= content_for :head do %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<% end %>

<div class="bg-cover py4" style="background-image: url('<%= image_path('volunteers/bg.jpg') %>')">
  <div class="max-width-4 mx-auto">
    <div class="clearfix md-flex">
      <div class="col col-12 sm-col-12 md-col-5 lg-col-5 px2">
        <%= image_tag('volunteers/logo.png', class: "fit") %>
        <div class="mb3 lg-hide"></div>
      </div>
      <div class="col col-12 sm-col-12 md-col-7 lg-col-7 px2 flex items-center">
        <div class="h1 caps bold bg-aqua purple mx-auto" style="letter-spacing: 2px">
          Pré candidato à prefeitura<br/>
          do Rio de Janeiro
        </div>
      </div>
    </div>
    <div class="mb3 lg-hide"></div>
    <div class="clearfix">
      <div class="col sm-col-12 mx-auto center px2">
        <h1 class="white h1 regular mb4">
          Espaço para texto esperto pedindo para que o usuário se inscreva nos campos abaixo e clique no botão para ficar por dentro.
        </h1>
      </div>
    </div>
    <div class="xs-col-12 sm-col-5 mx-auto px2">
      <%= form_for @user, url: volunteers_path do |f| %>
        <div class="mxn2">
          <div class="col col-12 md-col-6 px2 mb3">
            <%=
              f.text_field(
                :first_name,
                placeholder: t('activerecord.attributes.user.first_name'),
                class: "input",
                style: "margin-bottom: .25rem"
              )
            %>
            <div class="h6 white first_name_errors">
              <%= @user.errors.messages[:first_name].join(', ') %>
            </div>
          </div>

          <div class="col col-12 md-col-6 px2 mb3">
            <%=
              f.text_field(
                :last_name,
                placeholder: t('activerecord.attributes.user.last_name'),
                class: "input",
                style: "margin-bottom: .25rem"
              )
            %>
            <div class="h6 white last_name_errors">
              <%= @user.errors.messages[:last_name].join(', ') %>
            </div>
          </div>
        </div>

        <div class="mb3">
          <%=
            f.email_field(
              :email,
              placeholder: t('activerecord.attributes.user.email'),
              class: "input",
              style: "margin-bottom: .25rem"
            )
          %>
          <div class="h6 white email_errors">
            <%= @user.errors.messages[:email].join(', ') %>
          </div>
        </div>

        <div class="mb3">
          <%=
            f.telephone_field(
              :cell_phone_number,
              placeholder: t('activerecord.attributes.user.cell_phone_number'),
              class: "input",
              style: "margin-bottom: .25rem"
            )
          %>
          <div class="h6 white"><%= @user.errors.messages[:cell_phone_number].join(', ') %></div>
        </div>

        <div class="mb3">
          <%=
            f.select(
              :district,
              district_list,
              {prompt: t('activerecord.attributes.user.district')},
              class: "input rounded",
              style: "margin-bottom: .25rem"
            )
          %>
          <div class="h6 white"><%= @user.errors.messages[:district].join(', ') %></div>
        </div>

        <div>
          <%=
            f.submit(
              "Quero participar",
              class: "button bg-yellow block caps p2 h2 white border-none rounded bold",
              style: "width: 100%"
            )
          %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="bg-purple py2">
  <div class="max-width-4 mx-auto sm-flex justify-around px2">
    <a
      target="_blank"
      href="https://www.facebook.com/MarceloFreixoPsol/"
      style="letter-spacing: 2px"
      class="yellow caps block">
      <%= icon('facebook', class: "white") %>
      /marcelofreixopsol
    </a>
    <a
      target="_blank"
      href="http://www.marcelofreixo.com.br/"
      style="letter-spacing: 2px"
      class="yellow caps block">
      /marcelofreixo
    </a>
    <div class="yellow caps block" style="letter-spacing: 2px">(21) 2588 1268</div>
  </div>
</div>
