<div class="sm-col-8 md-col-6 mx-auto px1">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div>
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, class: "input" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div>
      <%= f.submit "Atualizar", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="border-top border-gray mt3 mb3"></div>

  <div>
    <h2>Veja seus amigos que apoiam a campanha</h2>
    <% if current_user.facebook_friends.nil? %>
      <%=
        link_to(
          "Conectar ao Facebook",
          user_omniauth_authorize_path(:facebook, scope: "user_friends"),
          class: "btn btn-outline blue"
        )
      %>
    <% elsif current_user.facebook_friends.any? %>
      <%= current_user.facebook_friends.map{|f| f["name"]}.join(', ') %>
    <% else %>
      <p>Você ainda não tem amigos na campanha</p>
    <% end %>
  </div>

  <div class="border-top border-gray mt3 mb3"></div>

  <div>
    <h2>Altere sua senha</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div>
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, autocomplete: "off", class: "input" %>
      </div>

      <div>
        <%= f.label :password_confirmation, class: "label" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" %>
      </div>

      <div>
        <%= f.label :current_password, class: "label" %>
        <%= f.password_field :current_password, autocomplete: "off", class: "input" %>
      </div>

      <div>
        <%= f.submit "Salvar nova senha", class: "btn btn-outline blue" %>
      </div>
    <% end %>
  </div>

  <div class="border-top border-gray mt3 mb3"></div>

  <div>
    <p>Seria muito triste, mas caso você não queira mais participar você pode cancelar a sua conta</p>
    <%=
      button_to(
        "Cancelar minha conta",
        registration_path(resource_name),
        data: { confirm: "Você tem certeza?" },
        method: :delete,
        class: "btn btn-outline red"
      )
    %>
  </div>
</div>
