<div class="col-12 md-col-6 mx-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="mxn2">
      <div class="col col-12 md-col-6 px2 mb3">
        <%= f.label :first_name, class: "label required" %>
        <%= f.text_field :first_name, autofocus: true, class: "input", style: "margin-bottom: .25rem" %>
        <div class="h6 red"><%= resource.errors.messages[:first_name].join(', ') %></div>
      </div>

      <div class="col col-12 md-col-6 px2 mb3">
        <%= f.label :last_name, class: "label required" %>
        <%= f.text_field :last_name, class: "input", style: "margin-bottom: .25rem" %>
        <div class="h6 red"><%= resource.errors.messages[:last_name].join(', ') %></div>
      </div>
    </div>

    <div class="mb3">
      <%= f.label :email, class: "label required" %>
      <%= f.email_field :email, class: "input", style: "margin-bottom: .25rem" %>
      <div class="h6 red"><%= resource.errors.messages[:email].join(', ') %></div>
    </div>

    <div class="mb3">
      <%= f.label :district, class: "label" %>
      <%= f.text_field :district, class: "input", style: "margin-bottom: .25rem" %>
      <div class="h6 red"><%= resource.errors.messages[:district].join(', ') %></div>
    </div>

    <div class="mb3">
      <%= f.label :cell_phone_number, class: "label" %>
      <%= f.telephone_field :cell_phone_number, class: "input", style: "margin-bottom: .25rem" %>
      <div class="h6 red"><%= resource.errors.messages[:cell_phone_number].join(', ') %></div>
    </div>

    <div class="clearfix mxn2">
      <div class="mb3 col col-12 md-col-6 px2">
        <%= f.label :password, class: "label required" %>
        <%= f.password_field :password, autocomplete: "off", class: "input", style: "margin-bottom: .25rem" %>
        <span class="h6 red"><%= resource.errors.messages[:password].join(', ') %></span>
      </div>

      <div class="mb3 col col-12 md-col-6 px2">
        <%= f.label :password_confirmation, class: "label required" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "input", style: "margin-bottom: .25rem" %>
        <span class="h6 red"><%= resource.errors.messages[:password_confirmation].join(', ') %></span>
      </div>
    </div>

    <div>
      <%= f.submit "Cadastrar-se", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
