<div class="p2 max-width-2 mx-auto">
  <div class="clearfix mb3">
    <h1 class="regular left m0">Eventos</h1>
    <%= link_to "Novo evento", new_event_path, class: "button bold caps bg-orange px2 py1 white border-none inline-block rounded right" %>
  </div>

  <% @events.each do |event| %>
    <%= card do %>
      <%= card_header do %>
        <div>
          <%= event.title %>
        </div>
        <div class="h5">
          <%= l(event.start_at, format: :short) %>
        </div>
      <% end %>
      <%= card_actions do %>
        <%= link_to "Editar", edit_event_path(event), class: "button bg-white orange caps bold p1 h6 inline-block" %>
      <% end %>
    <% end %>
  <% end %>
</div>
