<div class="max-width-1 mx-auto px1 py1">
  <%= form_tag settings_path, method: :put do %>
    <%= card do %>
      <%= card_body do %>

        <%= label_tag :livestream_embed, "Embed da transmissão ao vivo", class: "label" %>
        <small>Deixe o campo abaixo em branco para desativar a transmissão ao vivo</small>
        <%=
          text_area_tag(
            :livestream_embed,
            Setting.livestream_embed,
            class: "input mt1",
            style: "box-sizing: border-box; height: 150px"
          )
        %>

        <%= label_tag :daily_task_description, "Descrição da tarefa do dia", class: "label" %>
        <small>Deixe o campo abaixo em branco para desativar a tarefa do dia</small>
        <%=
          text_area_tag(
            :daily_task_description,
            Setting.daily_task_description,
            class: "input mt1",
            style: "box-sizing: border-box; height: 75px"
          )
        %>

        <%= label_tag :daily_task_link, "Link da tarefa do dia", class: "label" %>
        <%=
          text_field_tag(
            :daily_task_link,
            Setting.daily_task_link,
            class: "input mb0"
          )
        %>
      <% end %>
      <%= card_actions do %>
        <%= submit_tag "Salvar", class: "button orange bg-white px2 py1 border-none caps bold" %>
      <% end %>
    <% end %>
  <% end %>
</div>
