<!DOCTYPE html>
<html>
<head>
  <title>Mf16</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-silver">
  <div class="clearfix white p1 bg-black">
    <div class="max-width-4 mx-auto">
      <%= link_to "MF16", unauthenticated_root_path, class: "left btn" %>
      <% if current_user.present? %>
        <%= link_to avatar(current_user.facebook_image), '/', class: "right" %>
      <% else %>
        <%= link_to "Entrar", new_user_session_path, class: "right btn" %>
      <% end %>
    </div>
  </div>
  <div class="max-width-4 mx-auto">
    <%= flash_message(type: :notice, message: flash[:notice]) if flash[:notice] %>
    <%= flash_message(type: :alert, message: flash[:alert]) if flash[:alert] %>
  </div>
  <%= yield %>
</body>
</html>
