<!DOCTYPE html>
<html>
<head>
  <title>Mf16</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="clearfix p1 white bg-blue">
    <div class="max-width-4 mx-auto">
      <% if current_user.present? %>
        <%= link_to avatar(current_user.facebook_image), "#", class: "right" %>
      <% else %>
        <%= link_to "Entrar", new_user_session_path, class: "right white text-decoration-none" %>
      <% end %>
    </div>
  </div>
  <div class="max-width-4 mx-auto">
    <div class="clearfix py4">
      <%= yield %>
    </div>
  </div>
</body>
</html>
