<!DOCTYPE html>
<html>
<head>
  <title>Mf16</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="clearfix white p1 bg-black">
    <div class="max-width-4 mx-auto">
      <% if current_user.present? %>
        <%= link_to avatar(current_user.facebook_image), "#", class: "right" %>
      <% else %>
        <%= link_to "Entrar", new_user_session_path, class: "right btn" %>
      <% end %>
    </div>
  </div>
  <div class="max-width-4 mx-auto">
    <% if flash[:notice] %>
      <div class="clearfix mt2">
        <div class="col col-12 px2 center">
          <div
            id="successful-notice"
            class="px2 py1 bg-green white rounded inline-block">
            <%= flash[:notice] %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
