<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <% if content_for :head %>
    <%= yield :head %>
  <% else %>
    <title>Marcelo Freixo</title>
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-silver">
  <div class="clearfix white bg-red fixed" style="width: 100%; z-index: 9999">
    <div class="max-width-4 mx-auto">
      <div class="m1 flex" style="align-items: center">
        <div style="flex: 1;">
          <%= user_menu current_user %>
          <%= link_to image_tag("logo.png", style: "width: 115px"), new_volunteer_path, class: "ml2" %>
        </div>
        <div>
          <% if Setting.livestream_embed.present? %>
            <%= toggle_link_to "livestream", id: "livestream-button", class: "right button p1 white caps" do %>
              Ao vivo
              <%= icon("video-camera", class: "aqua") %>
            <% end %>
            <%= dialog "livestream" do %>
              <%= raw Setting.livestream_embed %>
            <% end %>
          <% else %>
            <%= link_to "Faça uma doação", "https://eufinancio.marcelofreixo.com.br/", class: "button bg-aqua white caps p1 inline-block right bold rounded mr1 xs-hide", target: :blank %>
            <%= link_to "Doar", "https://eufinancio.marcelofreixo.com.br/", class: "button bg-aqua white caps p1 inline-block right bold rounded mr1 md-hide sm-hide lg-hide", target: :blank %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="max-width-4 mx-auto">
    <%= flash_message(type: :notice, message: flash[:notice]) if flash[:notice] %>
    <%= flash_message(type: :alert, message: flash[:alert]) if flash[:alert] %>
  </div>
  <div style="padding-top: 52px">
    <%= yield %>
  </div>
</body>
</html>
